<div class="admin-page">
	<div class="container">
		<div class="row">
		<div class="col-lg-8 col-sm-offset-1">
			<div class="col-sm-10 col-sm-offset-2 form-box">
				
					<section class="panel">
						<header class="panel-heading">
							<h2>Admin Registration Form</h2> 
						</header>
						<div class="panel-body">
							<form role="form">

								<%= simple_form_for([:admin, @client]) do |f| %>
								<%= f.input :fullname %>
								<%= f.input :email %>
								<%= f.input :password %>
								<%= f.input :phone_number %>
								<%= f.input :location %>
								<%= f.input :tag, :collection => ["online", "offline"], :as => :radio_buttons, :item_wrapper_class => "inline", :label => "online/offline?" %>
								<%= f.input :admin %>

								<%= f.button :submit, "Create User", class: "btn-primary" %>
								<% end %>
							</form>
						</div>
					</section>
				</div>
			</div>
		</div>
	</div>
</div>
<