<%breadcrumb :clients, @clients %>
<div class="admin-page">
	<div class="container">
		<div class="row">
			<div class="col-sm-12 col-sm-offset-0 form-box">

				<div class="row">
					
					<div class="col-lg-12 col-md-12">  
						<div class="panel panel-default">
							<div class="panel-heading">
								<h2><i class="fa fa-user"></i><strong><%= pluralize(Client.where(admin: false).count, "Client") %></strong></h2>
							</div>
							<div class="panel-body">
								<table class="table bootstrap-datatable countries">
									<thead>
										<tr>
											<th></th>
											<th>First Name</th>
											<th>Last Name</th>
											<th>Email</th>
											<th>Phone Number</th>
											<th>Location</th>
											<th>online/offline</th>
											<th></th>
											<th></th>
											<th></th>
										</tr>
									</thead> 


									<% if @clients.count == 0 %>
									<h1>No clients yet.</h1>
									<%#= link_to fa_icon("plus") + " Create Client", new_admin_client_path, class: "btn btn-primary" %>
									<% else %>
									
									<% @clients.each do |client| %>

									<% if client.requests.empty? %>

									<tbody>
										<tr>
											<td></td>
											<td><%= client.first_name  %></td>
											<td><%= client.last_name %></td>
											<td><%= client.email %></td>
											<td><%= client.phone_number %></td>
											<td><%= client.location %></td>
											<td>

											<% if client.tag == "online" %>	
											<span class="label label-success"><%= client.tag %></span>
											<% elsif client.tag == "offline" %>
											<span class="label label-danger"><%= client.tag %></span>
											<% end %>

											</td>
					
											<td><%= link_to fa_icon("eye") + " Detail", admin_client_path(client), class: "btn btn-info" %></td>
											<td><%= link_to fa_icon("plus") + " Create Request", new_admin_client_request_path(client), class: "btn btn-primary" %></td>
											<td><%= link_to "Remove", admin_client_path(client), method: :delete, data: {confirm: "are you sure you want to remove #{client.first_name} from the database?"}, class: "btn btn-danger" %></td>
										</tr>

										<% else %>

										<tr>
											<td></td>
											<td><%= client.first_name  %></td>
											<td><%= client.last_name %></td>
											<td><%= client.email %></td>
											<td><%= client.phone_number %></td>
											<td><%= client.location %></td>
											<td>

											<% if client.tag == "online" %>	
											<span class="label label-success"><%= client.tag %></span>
											<% elsif client.tag == "offline" %>
											<span class="label label-danger"><%= client.tag %></span>
											<% end %>
											</td>

											<td><%= link_to fa_icon("eye") + " Detail", admin_client_path(client), class: "btn btn-info" %></td>
											<td><%= link_to fa_icon("eye") + " #{client.requests.count} Requests", admin_client_requests_path(client), class: "btn btn-primary" %></td>
											<td><%= link_to "Remove", admin_client_path(client), method: :delete, data: {confirm: "are you sure you want to remove #{client.first_name} from the database?"}, class: "btn btn-danger" %></td>
										</tr>

									</tbody>

									<% end %>
									<% end %>
									<% end %>
								</table>
							</div>
						</div>
					</div>
				</div>
				<%= link_to fa_icon("plus") + " Register Client", new_admin_client_path, class: "btn btn-primary" %>
			</div>
		</div>
	</div>
</div>