<div class="admin-page">
	<div class="container">
		<div class="row">
			<div class="col-sm-9 col-sm-offset-1 form-box">  
           <% if @client.admin == true %>
           <h2>Admin's Detail</h2>
           <% else %>
           <h2>Client's Detail</h2>
           <% end %>
			<p>Fullname: <%= @client.fullname%></p>
			<p>Email: <%= @client.email %></p>
			<p>Phone Number: <%= @client.phone_number %></p>
			<p>Location: <%= @client.location %></p>
			<p>Number of sign ins: <%= @client.sign_in_count %></p>
			<p>Last signed in: <%= @client.try(:last_sign_in_at).try(:strftime, "%B %d, %Y at %T") %></p>
			<p>No. of Requests: <%= @client.requests.count %></p>
			------------------------------------------------------

			<% if @client.admin == true %>
			<p><%= link_to fa_icon("pencil") + "Edit Admin", admin_edit_admin_path(@client), class: "btn btn-primary" %>
			<% else %>
            <p><%= link_to fa_icon("pencil") + "Edit Client", admin_edit_client_path(@client), class: "btn btn-primary" %>
            <% end %>
             <%= link_to "Back", :back, class: "btn btn-primary" %></p>

			</div>
		</div>
	</div>
</div>