<div class="admin-page">
  <div class="container">
  <div class="row">
    <div class="col-sm-9 col-sm-offset-1 form-box">

  <h1>A List of Workers</h1>

  <% @workers.each do |worker| %>
  <% if worker.requests.any? %>
    <h2><%= worker.first_name %>  <%= worker.last_name %> status: assigned! <%= link_to fa_icon("eye") + "View", admin_worker_path(worker), class: "btn btn-primary" %></h2>
  <% else %>
    <h2><%= worker.first_name %>  <%= worker.last_name %> unassigned! <%= link_to fa_icon("eye") + "View", admin_worker_path(worker), class: "btn btn-primary" %></h2>
  <% end %>
  <% end %>

</div>
</div>
</div>
</div>