<% breadcrumb :worker_history, @worker %>
<div class="row">
  <div class="col-lg-12">
    <section class="panel">
      <header class="panel-heading">
        <h3>Break Down of <%= @worker.first_name %>'s History</h3>
      </header>
      

      <table class="table table-striped table-advance table-hover">

       <tbody>
        <tr>
          <th><i class="fa fa-user"></i> Client's Name</th>
          <th><i class="fa fa-folder"></i> No. of Client's Requests Handled</th>
          <th><i class="fa fa-comments-o"></i> Client's Remarks</th>
          <th><i class="fa fa-star"></i> Client's Rating</th>
          <th><i class="fa fa-flag"></i> Client's Report</th>
        </tr>
        <% if @worker.requests.exists? %>
        <% @worker.requests.uniq.each do |request| %>

        <tr>
         <td><%= request.client.first_name  %></td>
         <td><%=  @worker.requests.where(client_id: request.client.id).count %></td>
         <td><%= @worker.reviews.where(client_id: request.client).first.try(:comment) || nil %></td>
         <td><div class="star-rating" data-score= <%= request.client.reviews.where(worker_id: @worker).first.try(:rating) %>></div></td>
         <td>
           <% if request.client.reports.any? %>
             <p><%= link_to pluralize(request.client.reports.count, "report"), admin_worker_reports_path(@worker) %> filed</p>
           <% else %>
             <p>No report</p>  
           <% end %>
         </td>
       </tr>
       <% end %>
       <% else %>
       <tr>
        <td>No client</td>
        <td>No Data yet!</td>
        <td>No remark</td>
        <td>No Data yet!</td>
        <td>No Report</td>
      </tr>
      <% end %>
    </tbody>
  </table>
</section>
</div>
</div>

<div class="row">
  <div class="col-sm-6">
    <section class="panel">
      <header class="panel-heading">
        Summary of <%= @worker.first_name %>'s History
      </header>
      <table class="table table-striped">

        <tbody>
          <tr>
            <td>Total No. of Requests Handled</td>
            <td><%= @worker.requests.count %></td>
          </tr>
          <tr>
            <td>No. of Clients Handled</td>
            <td><%= @worker.requests.joins(:client).uniq.count %></td>
          </tr>
          <tr>
            <td>No. of Reports Filed Against</td>
            <td><%= @worker.reports.count %></td>
          </tr>
        </tbody>
      </table>
    </section>
  </div>
</div>

<script>
  $('.star-rating').raty({
    path: '/assets/', 
    readOnly: true,
    score: function() {
      return $(this).attr('data-score');
    }
  });
</script>