<div class="container">
	<div class="row">
	<div class="col-sm-12" >


			<div class="panel panel-info">
				<div class="panel-heading">
					<h1><strong>Blog Posts</strong></h1>
				</div>
				<div class="panel-body">
					<div class="row">
						<div class=" col-md-12 col-lg-12 "> 
							<table class="table table-user-information">
								<tbody>
									<tr>
										<% @articles.each do |article| %>
										<h1><%= article.caption %></h1>
										<p><%= truncate(article.content, :length=> 500) %> <%= link_to "Read More", admin_client_article_path(current_client, article) %></p>
										<p>written by <%= article.client.first_name %> <%= article.client.last_name %>, <%= article.created_at.strftime("%A, %d %B %Y") %></p>
										<% end %>
									</tbody>
								</table>
							</div>
						</div>
					</div>            
				</div>
				<%= link_to fa_icon("pencil") + " write a blog post", new_admin_client_article_path(@client), class: "btn btn-primary" %>
			</div>
		</div>
	</div>

	

