<br>
<div class="container">
  <div class="row">
    <div class="col-md-10 col-md-offset-1" >


      <div class="panel panel-info text-left" >
        <div class="panel-body">
          
                <h2><strong><%= @article.caption%></strong></h2>
                  <p><strong><i class="fa fa-user" aria-hidden="true"></i> written by <%= @article.client.first_name %> <%= @article.client.last_name %>, <%= @article.created_at.strftime("%A, %d %B %Y") %></strong></p>
                <p  style="float:left;">
                  <%= link_to (image_tag @article.caption_photo_url(:wide)), @article.caption_photo.url %>
                </p>
                <div  style="float:right; width:50%;">
                    <h4 class="text-left"><%= simple_format(@article.content) %></h4>
                  
                </div>


        </div>            
      </div>
      <h3><%= link_to fa_icon("arrow-circle-left") + " Back", :back, class: "btn btn-primary" %></h3>
    </div>
  </div>
          <% if current_client %>
            <% if current_client.subscribe == false %>
            <%= link_to fa_icon("envelope") + " Subscribe to our weekly newsletter", subscribe_to_newsletter_path, class: "btn btn-info pull-right" %>
             <% else %>
            <%= link_to fa_icon("ban") + " Unsubscribe from our weekly newsletter", unsubscribe_from_newsletter_path, class: "btn btn-danger pull-right" %>
            <% end %>
          <% else %>
          <%= link_to fa_icon("envelope") + " Subscribe to our weekly newsletter", subscribe_to_newsletter_path, class: "btn btn-info pull-right" %>
          <% end %>
</div>


<style>
/*  .icon-instagram,
  .icon-facebook,
  .icon-twitter
  {
    color:#fff;
  }*/
</style>