 <header>
      <!-- Main Jumbo -->
        <div class="main_slide" id="intro">
          <ul class="rslides" id="slider1">
            <!--Junbo-->
            <li>
              <%= image_tag("img/home/home2blackcrop2.jpg", :alt => "home2black jpg") %>
              <div class="info_slide">
                <div class="container">
                  <div class="row-fluid">
                    <div class="span8">
                      <h1 class="animated delay1 fadeInLeft">BOOK A TRUSTED CLEANER</h1>
                      <hr class="animated delay2 fadeInLeft">
                      <a href="./requests/new" class="animated delay2 fadeInLeft botton btn-lg">Book a Cleaner <i class="icon-long-arrow-right"></i></a>
                    </div>
                  </div>
                </div>                                                                    
              </div>
            </li>
            <!--Jumbo-->
          </ul>
        </div> 
       <!-- end Main Jumbo -->

      <!--Menu-->
      <nav>
       <div class="container">
        <div class="row-fluid">
          <div class="span2">

            <!-- Logo -->
            <div id="logo">
              <a href="index.html">
              <%= image_tag("spring-logo-final.png", :alt => "spring logo", :width=>"69px") %></a>
            </div>
            <!-- Logo -->

          </div>
          <div class="span5 offset5">

            <ul id="menu">
              <li><a href="index.html#intro">Home</a></li>
              <li><a href="index.html#services">Offerings</a></li>
              <li><a href="index.html#about">About</a></li>
              <li><a href="index.html#contact">Login</a></li>
            </ul>

          </div>
        </div>
       </div>
      </nav>
      <!--end Menu-->
    </header>

    <!-- Services -->
    <div class="container" id="services">

      <div class="services">
      <h2>OUR OFFERINGS</h2>
      
      <div class="border_bottom"></div>

        <div class="row-fluid top">
          <div class="span6">
            <!--Services One-->
            <div class="offerings">
              <div class="border_right">
              <%= image_tag("img/offering/lvrm.jpg", :alt => "lvrm jpg") %>
              </div>
            </div>
            <!--Services One-->
          </div>

          <div class="span6">
            <!--Services Two-->
            <div class="offerings">
              <div>
                <h3>Living Room</h3>
                <ul class="icon-align icon-left" type="none">
                  <li><i class="fa fa-hand-o-right"></i> Wiping of Windows</li><br>
                  <li><i class="fa fa-hand-o-right"></i> Removing of cobwebs</li><br>
                  <li><i class="fa fa-hand-o-right"></i> Vacumming of carpet if needed</li><br>
                  <li><i class="fa fa-hand-o-right"></i> Sweeping and mopping of floors</li><br>
                  <li><i class="fa fa-hand-o-right"></i> Dusting of furniture and surfaces</li><br>
                  <li><i class="fa fa-hand-o-right"></i> Dusting and wiping of electronics, picture frames etc</li><br>
                  <li><i class="fa fa-hand-o-right"></i> Dusting and wiping of light switches and other fixtures</li>
                </ul>
                
              </div>
            </div>
            <!--Services Two-->  
          </div>
          
        </div>

      </div>
      <!--Services-->

       <div class="border_bottom"></div>

      <div class="services top">
        <div class="row-fluid">

          <div class="span6">
            <!--Services Three -->
            <div class="offerings">
              <h3>Kitchen</h3>
               <ul class= "icon-align icon-left" type="none">
                <li><i class="fa fa-hand-o-right"></i> Removing of cobwebs</li><br>
                <li><i class="fa fa-hand-o-right"></i> Putting together displaced items</li><br>
                <li><i class="fa fa-hand-o-right"></i> Dusting of surfaces and appliances</li><br>
                <li><i class="fa fa-hand-o-right"></i> Emptying bins and cleaning bin area</li><br>
                <li><i class="fa fa-hand-o-right"></i> Wiping outside of cupboards and fridge</li><br>
                <li><i class="fa fa-hand-o-right"></i> Cleaning of sink,and washing of dishes</li><br>
                <li><i class="fa fa-hand-o-right"></i> Sweeping, mopping of floor and wiping of walls</li>
              </ul>
            </div>
            <!--Services Three -->
          </div>

          <div class="span6">
            <!--Services Four-->
            <div class="offerings">
              <div class="border_right">
                <%= image_tag("img/offering/kitch.jpg", :alt => "kitch jpg") %>
              </div>
            </div>
             <!--Services Four--> 
          </div>

        </div>
      </div>

       <div class="border_bottom"></div>

      <div class="services top">
        <div class="row-fluid">

          <div class="span6">
            <!--Services Three -->
            <div class="offerings">
              <%= image_tag("img/offering/bed.jpg", :alt => "bed jpg") %>
            </div>
            <!--Services Three -->
          </div>

          <div class="span6">
            <!--Services Four-->
            <div class="offerings">
              <div>
                <h3>Bedroom</h3>
                <ul class= "icon-align icon-left" type="none">
                  <li><i class="fa fa-hand-o-right"></i>  Making bed</li><br>
                  <li><i class="fa fa-hand-o-right"></i> Wiping of windows</li><br>
                  <li><i class="fa fa-hand-o-right"></i> Removing of cobwebs</li><br>
                  <li><i class="fa fa-hand-o-right"></i> Dusting of furniture and surfaces</li><br>
                  <li><i class="fa fa-hand-o-right"></i> Folding or hanging of clothes in bedroom</li><br>
                  <li><i class="fa fa-hand-o-right"></i> Sweeping or Vacuuming and/or mopping floors</li><br>
                </ul>
              </div>
            </div>
             <!--Services Four--> 
          </div>

        </div>
      </div>
      
      <div class="border_bottom"></div>
      <div class="services top">
        <div class="row-fluid">

          <div class="span6">
            <!--Services Three -->
            <div class="offerings">
              <h3>Bathroom</h3>
                <ul class= "icon-align icon-left" type="none">

                <li><i class="fa fa-hand-o-right"></i> Mopping floors</li><br>
                <li><i class="fa fa-hand-o-right"></i> Removing of cobwebs</li><br>
                <li><i class="fa fa-hand-o-right"></i> Wiping of walls and mirrors</li><br>
                <li><i class="fa fa-hand-o-right"></i> Folding or hanging of clean towels</li><br>
                <li><i class="fa fa-hand-o-right"></i> Emptying bins and cleaning bin area</li><br>
                <li><i class="fa fa-hand-o-right"></i> Wiping of windows, counters and taps</li><br>
                <li><i class="fa fa-hand-o-right"></i> Cleaning of shower, bath, sinks and toilet</li><br>
                <li><i class="fa fa-hand-o-right"></i> Wiping outside of cupboards and cabinets</li>
              </ul>
            </div>
            <!--Services Three -->
          </div>

          <div class="span6">
            <!--Services Four-->
            <div class="offerings">
              <div class="border_right">
                <%= image_tag("img/offering/bath.jpg", :alt => "bath jpg") %>
              </div>
            </div>
             <!--Services Four--> 
          </div>

        </div>
      </div>

    </div>
    <!-- Services -->

      <!-- About -->
      
      <!-- About -->

    <!-- Footer -->
    <footer id="contact">
      <div class="container">
        <div class="row-fluid">
          <h2>Let's Get in touch</h2>
          <hr class="primary">
          <p>Need more information, or want to the conversation more personal? Call or send us an email.</p>
        </div>
        <div class="col-lg-4 col-lg-offset-2 text-center">
          <i class="fa fa-phone fa-3x wow bounceIn">
          </i>
          <p>020-061-0307</p>
        </div>
        <div class="col-lg-4 text-center">
          <i class="fa fa-envelope-o fa-3x wow bounceIn">
          </i>
          <p>
            <a href="mailto:your-email@your-domain.com">hello@spring.com</a>
          </p>
        </div>

        <div class="row-fluid">
          <div class="span8">            

            <div class="row-fluid">
              <div>
               
              </div>
            </div>
          </div>

          <div class="span4">
            <div>
              <div class="row-fluid">
                <div>
                  
                </div>
              </div>
            </div>
          </div>

        </div>
      </div>

      <!-- </div> -->
    </footer>
    <!-- Footer -->

    <!-- Copy -->
    <footer class="coopring">
      <p>Copyright 2016 Spring.</p>
    </footer>
    <!-- Copy -->

      
      <!-- ======================= JQuery libs =========================== -->
        <!-- Always latest version of jQuery-->
        <script src="http://ajax.googleapis.com/ajax/libs/jquery/1/jquery.min.js"></script>         
        <script>window.jQuery || document.write('<script src="js/jquery-1.9.1.min.js"><\/script>')</script>
       <!--Nav-->
        <script type="text/javascript" src="js/nav/tinynav.js"></script>
        <script type="text/javascript" src="js/nav/jquery.nav.js" ></script>
        <script type="text/javascript" src="js/nav/jquery.sticky.js"></script>     
        <!--Scroll-->      
        <script src="js/scroll/smooth-scroll.js" type="text/javascript"></script> 
        <!--Lightbox--> 
        <script type="text/javascript" src="js/fancybox/jquery.fancybox.js"></script> 
        <!-- Carrousel -->
        <script src="js/modernizr.js"></script>
         
        <!-- Slide.js-->
        <script src="js/slide/responsiveslides.js"></script> 
        <!--Totop-->
        <script type="text/javascript" src="js/totop/jquery.ui.totop.js" ></script>   
        <!-- Bootstrap.js-->
        <script src="js/bootstrap.js"></script>
        <!--fUNCTIONS-->
        <script type="text/javascript" src="js/jquery-func.js"></script>
      <!-- ======================= End JQuery libs =========================== -->

        <script type="text/javascript">
        $(document).ready(function(){
            $(document).bind("contextmenu",function(e){
                return false;
            });
        });
        </script>
