
    <!-- Page Wrapper -->
      <div id="page-wrapper">

        <!-- Header -->
          <header id="header" class="alt">

            <h1><%= link_to "Spring", root_path %></h1>

            <nav id="nav">

              <ul>
               <li class="special desktop-only-view">
                    <a href="#one"><span>About</span></a>
               </li>
               <li class="special desktop-only-view">
                    <a href="#two"><span>Services</span></a>
               </li>
               <li class="special desktop-only-view">
                    <a href="#cta"><span>Contact</span></a>
               </li>
               <li class="special desktop-only-view">
                  <%= link_to "FAQ", q_and_a_path%>
               </li>
              <% if current_client %>
                <li class="special desktop-only-view">
                    <%= link_to current_client.first_name, edit_client_registration_path %>
                </li>
                <li class="special desktop-only-view">
                    <%= link_to "Requests", my_requests_path %>
                </li>
                <li class="special desktop-only-view">
                   <%= link_to "Log Out", destroy_client_session_path, method: :delete,
                                data: {confirm: "#{current_client.email}, are you sure you want to log out?"} %>
                </li>
               
               <!--  <li class="special desktop-only-view">
                  <%#= link_to "Log Out", destroy_client_session_path, method: :delete,
                            data: {confirm: "#{current_client.email}, are you sure you want to log out?"} %>
                </li>  -->
              <% else %>
                  <li class="special desktop-only-view">
                    <%= link_to "Log In", new_client_session_path %>
                  </li>
                  <li class="special desktop-only-view">
                          <%= link_to "Sign Up", new_client_registration_path %>
                  </li>
              <% end %>

                <li class="special mobile-only-view">
                  <a href="#menu" class="menuToggle"><span>Menu</span></a>
                  <div id="menu">
                    <ul>


                    <% if current_client %>
                     <li class="special">
                        <a href="#one">About</a>
                      </li>
                      <li class="special">
                        <a href="#two">Services</a>
                      </li>
                      <li class="special">
                        <a href="#cta">Contact</a>
                      </li>
                      <li class="special">
                          <%= link_to current_client.first_name, edit_client_registration_path %>
                      </li>
                      <li class="special">
                          <%= link_to "Requests", my_requests_path %>
                      </li>
                      <li class="special">
                        <%#= link_to "Log Out", destroy_client_session_path, method: :delete,
                                  data: {confirm: "#{current_client.email}, are you sure you want to log out?"} %>
                      </li>  
                    <% else %>
                        <li class="special">
                          <a href="#one">About</a>
                        </li>
                        <li class="special">
                          <a href="#two">Services</a>
                        </li>
                        <li class="special">
                          <a href="#cta">Contact</a>
                        </li>
                        <li class="special">
                          <%= link_to "FAQ", q_and_a_path %>
                        </li>
                        <li class="special">
                          <%= link_to "Log In", new_client_session_path %>
                        </li>
                        <li class="special">
                          <%= link_to "Sign Up", new_client_registration_path %>
                        </li>
                    <% end %>

                    </ul>
                  </div>
                </li>
              </ul>
            </nav> 


          </header>

        <!-- Banner -->
          <section id="banner">
            <div class="inner">
              <h2>Spring</h2>
              <p>Trustworthy, Quality & Reliable Home Cleaning.</p>
              <ul class="actions">
                <li>
                  <%= link_to "Book a Cleaning", new_request_path, :class => "button special" %>
                </li>
              </ul>
            </div>
            <a href="#one" class="more scrolly">Learn More</a>
          </section>

        <!-- About One -->
          <section id="one" class="wrapper style1 special">
            <div class="inner">
              <header class="major">
                <h2>About Spring</h2>
                <p>Spring is a service that provides TRUSTWORTHY, QUALITY and RELIABLE cleaning services to households. Spring can be trusted because all the cleaners with Spring have gone through extensive police background checks and have had thier references verified. Spring also takes cleaners through quality training so that YOU as a client has a WORRY FREE CLEANING EXPERIENCE.</p>
                <h4>Scroll below to see our service offerings</h4>
              </header>
            </div>
          </section>

        <!-- Our Services Two -->
          <section id="two" class="wrapper alt style2">
            <section class="spotlight">
              <div class="image"><%= image_tag "pic01.jpg" %> </div><div class="content">
                <h2>Living Room</h2>
                <i class="fa fa-check-square-o">Wiping of Windows</i><br>
                <i class="fa fa-check-square-o">Removing of cobwebs</i><br>
                <i class="fa fa-check-square-o">Vacumming of carpet if needed</i><br>
                <i class="fa fa-check-square-o">Sweeping and mopping of floors</i><br>
                <i class="fa fa-check-square-o">Dusting of furniture and surfaces</i><br>
                <i class="fa fa-check-square-o mob">Dusting and wiping of electronics, picture frames etc</i><br>
                <i class="fa fa-check-square-o mob">Dusting and wiping of light switches and other fixtures</i><br><br><br>
              </div>
            </section>
            <section class="spotlight">
              <div class="image"><%= image_tag "pic02.jpg" %></div><div class="content">
                <h2>Kitchen</h2>
                <i class="fa fa-check-square-o">Removing of cobwebs</i><br>
                <i class="fa fa-check-square-o">Putting together displaced items</i><br>
                <i class="fa fa-check-square-o">Dusting of surfaces and appliances</i><br>
                <i class="fa fa-check-square-o">Emptying bins and cleaning bin area</i><br>
                <i class="fa fa-check-square-o">Wiping outside of cupboards and fridge</i><br>
                <i class="fa fa-check-square-o">Cleaning of sink,and washing of dishes</i><br>
                <i class="fa fa-check-square-o mob">Sweeping, mopping of floor and wiping of walls</i><br><br>
              </div>
            </section>
            <section class="spotlight">
              <div class="image"><%= image_tag "pic03.jpg" %></div><div class="content">
                <h2>Bedroom</h2>
                <i class="fa fa-check-square-o mob-clr-right">Making bed</i><br>
                <i class="fa fa-check-square-o">Wiping of windows</i><br>
                <i class="fa fa-check-square-o">Removing of cobwebs</i><br>
                <i class="fa fa-check-square-o">Dusting of furniture and surfaces</i><br>
                <i class="fa fa-check-square-o mob">Folding or hanging of clothes in bedroom</i><br>
                <i class="fa fa-check-square-o mob">Sweeping or Vacuuming and/or mopping floors</i><br><br>
              </div>
            </section>
            <section class="spotlight">
              <div class="image"><%= image_tag "pic04.jpg" %></div><div class="content">
                <h2>Bathroom</h2>
                <i class="fa fa-check-square-o mob-clr-right">Mopping floors</i><br>
                <i class="fa fa-check-square-o">Removing of cobwebs</i><br>
                <i class="fa fa-check-square-o">Wiping of walls and mirrors</i><br>
                <i class="fa fa-check-square-o">Folding or hanging of clean towels</i><br>
                <i class="fa fa-check-square-o">Emptying bins and cleaning bin area</i><br>
                <i class="fa fa-check-square-o">Wiping of windows, counters and taps</i><br>
                <i class="fa fa-check-square-o mob">Cleaning of shower, bath, sinks and toilet</i><br>
                <i class="fa fa-check-square-o mob">Wiping outside of cupboards and cabinets</i><br><br>
              </div>
            </section>
          </section>

        <!-- Extra Services Three -->
          <section id="three" class="wrapper style3 special">
            <div class="inner">
              <header class="major">
                <h2>Extra Services</h2>
                <p>These services come at an extra cost.</p>
              </header>
              <ul class="features">
                <li>
                  <%= image_tag "fridge.png", style:"width:100px" %>
                  <h3>Inside Fridge Cleaning</h3>
                </li>
                <li >
                  <%= image_tag "laundry.png", style:"width:100px" %>
                  <h3>Laundry</h3>
                </li>
                <li>
                  <%= image_tag "store.png", style:"width:100px" %>
                  <h3>Storage Room Cleaning</h3>
                </li>
                <li>
                  <%= image_tag "compound.png", style:"width:100px" %>
                  <h3>Compound Cleaning</h3>
                </li>
              </ul>
            </div>
          </section>

          <!-- Pricing -->
           <section id="price" class="wrapper special style2">
           <!--  <div class="inner"> -->
              <header class="major">
                <h2>Pricing</h2>
              </header>
                <!-- <ul class="features col-md-12">
                  <li class="col-md-3">
                    <h3>Deep Cleaning<br> GHC 150</h3>
                    <p> This is a One Time Service which involves:</p>
                      <p>Kitchen <br>Kitchen top dusting, scrubbing and wiping Kitchen cabinets, racks cleaning, Degreasing and oil stains removal,       Kitchen Tiles - Removing sticky oil stains and Cobweb removal
                    </p>
                    <p>Bedroom & Living Room<br>
                      Cobweb removal Fan cleaning, Windows Glasses, grills, Cupboards dusting and wiping, Trash Removal,Sweeping and Mopping
                    </p>
                    <p>Bathroom<br>
                      Bathrooms shelfs, cabinets dusting and wiping, Descaling and stain removal from Tiles, Fittings and floors, Scrubbing of floors, Cleaning mirror, wash basin, Toilet bowl cleaning and stain/scale removal and Cobweb removal
                    </p>
                 </li>
                  <li class="col-md-3">
                    <h3>Weekly Cleaning<br>GHC 150</h3>
                    <p>This service occurs maximum of 3 times a week. </p>
                  </li>
                  <li  class="col-md-3">
                    <h3>Monthly Cleaning</h3>
                   <p>This service occurs maximum of 12 days in a month</p>
                  </li>
                </ul> -->


                  <div class="container">
                  <div class="row">
                  <div class="col-md-4">
                    <h3>Deep Cleaning<br> GHC 150</h3>
                    <p> This is a One Time Service which involves:</p>
                      <p>Kitchen <br>Kitchen top dusting, scrubbing and wiping Kitchen cabinets, racks cleaning, Degreasing and oil stains removal,       Kitchen Tiles - Removing sticky oil stains and Cobweb removal
                    </p>
                    <p>Bedroom & Living Room<br>
                      Cobweb removal Fan cleaning, Windows Glasses, grills, Cupboards dusting and wiping, Trash Removal,Sweeping and Mopping
                    </p>
                    <p>Bathroom<br>
                      Bathrooms shelfs, cabinets dusting and wiping, Descaling and stain removal from Tiles, Fittings and floors, Scrubbing of floors, Cleaning mirror, wash basin, Toilet bowl cleaning and stain/scale removal and Cobweb removal
                    </p>
                 </div>
                  <div class="col-md-4  ">
                    <h3>Weekly Cleaning<br>GHC 150</h3>
                    <p>This service occurs maximum of 3 times a week. </p>
                  </div>
                  <div  class="col-md-4">
                    <h3>Monthly Cleaning <br> Starting from GHC 500</h3>
                   <p>This service occurs maximum of 12 days in a month</p>
                  </div>
                  
                  </div>
                  </div>
            
              
            <!-- </div> -->
          </section>


        <!-- Contact CTA -->
          <section id="cta" class="wrapper style4">
            <div class="inner">
              <header>
                <h2>Contact Us</h2>
                <p>Do you have any questions?<br>
                  Send us an email: hello@springgh.com</p>
                <p>Use Spring for all your Home Cleaning and be assured of a reliable and quality job done.</p>
  
              </header>
              <ul class="actions vertical" style="padding-top: 60px;">
                <li>
                <%= link_to "Book a Cleaning", new_request_path, :class => "button fit special" %>
                </li>
                <li><%= link_to "FAQ", q_and_a_path, class: "button fit" %></li>
              </ul>
            </div>
          </section>

        <!-- Social Footer -->
          <footer id="footer">
            <ul class="icons">
              <li><a href="www.twittwer.com/spring_ghana" class="icon fa-twitter"><span class="label">Twitter</span></a></li>
              <li><a href="www.facebook.com/springhome" class="icon fa-facebook"><span class="label">Facebook</span></a></li>
              <li><a href="www.instagram.com/spring_ghana" class="icon fa-instagram"><span class="label">Instagram</span></a></li>
            </ul>
            <ul class="copyright">
              <li>&copy;2016 Spring</li><li>Call Us on 020-061-0307</li>
            </ul>
          </footer>

      </div>

<!-- </body> -->
