
    <!-- Page Wrapper -->
      <div id="page-wrapper">

        <!-- Header -->
          <header id="header" class="alt">
            <h1><a href="index.html">Spring</a></h1>
            <nav id="nav">
              <ul>
                <li class="special">
                  <a href="#menu" class="menuToggle"><span>Menu</span></a>
                  <div id="menu">
                    <ul>
                      <li><%= link_to "Home", root_path %></li>
                      <li><a href="#one">About</a></li>
                      <li><a href="#two">Services</a></li>
                      <li><a href="#cta">Contact</a></li>
                      <li><a href="#faq">FAQ</a></li>
                      <li><%= link_to "Sign Up", new_client_registration_path %></li>
                      <li><%= link_to "Log In", new_client_session_path %></li>
                    </ul>
                  </div>
                </li>
              </ul>
            </nav>
          </header>

        <!-- Banner -->
          <section id="banner">
            <div class="inner">
              <h2>Spring</h2>
              <p>Trustworthy, Quality & Reliable Home Cleaning.</p>
              <ul class="actions">
                <li>
                  <%= link_to "Book a Cleaning", new_request_path, :class => "button special" %>
                </li>
              </ul>
            </div>
            <a href="#one" class="more scrolly">Learn More</a>
          </section>

        <!-- About One -->
          <section id="one" class="wrapper style1 special">
            <div class="inner">
              <header class="major">
                <h2>About Spring</h2>
                <p>Spring is a service that provides TRUSTWORTHY, QUALITY and RELIABLE cleaning services to households. Spring can be trusted because all the cleaners with Spring have gone through extensive police background checks and have had thier references verified. Spring also takes cleaners through quality training so that YOU as a client has a WORRY FREE CLEANING EXPERIENCE.</p>
                <h4>Scroll below to see our service offerings</h4>
              </header>
            </div>
          </section>

        <!-- Our Services Two -->
          <section id="two" class="wrapper alt style2">
            <section class="spotlight">
              <div class="image"> <%= image_tag("pic01.jpg")%> </div><div class="content">
                <h2>Living Room</h2>
                <i class="fa fa-check-square-o"><span>Wiping of Windows</span></i><br>
                <i class="fa fa-check-square-o">Removing of cobwebs</i><br>
                <i class="fa fa-check-square-o">Vacumming of carpet if needed</i><br>
                <i class="fa fa-check-square-o">Sweeping and mopping of floors</i><br>
                <i class="fa fa-check-square-o">Dusting of furniture and surfaces</i><br>
                <i class="fa fa-check-square-o">Dusting and wiping of electronics, picture frames etc</i><br>
                <i class="fa fa-check-square-o">Dusting and wiping of light switches and other fixtures</i><br><br><br>
              </div>
            </section>
            <section class="spotlight">
              <div class="image"><%= image_tag("pic02.jpg")%></div><div class="content">
                <h2>Kitchen</h2>
                <i class="fa fa-check-square-o">Removing of cobwebs</i><br>
                <i class="fa fa-check-square-o">Putting together displaced items</i><br>
                <i class="fa fa-check-square-o">Dusting of surfaces and appliances</i><br>
                <i class="fa fa-check-square-o">Emptying bins and cleaning bin area</i><br>
                <i class="fa fa-check-square-o">Wiping outside of cupboards and fridge</i><br>
                <i class="fa fa-check-square-o">Cleaning of sink,and washing of dishes</i><br>
                <i class="fa fa-check-square-o">Sweeping, mopping of floor and wiping of walls</i><br><br>
              </div>
            </section>
            <section class="spotlight">
              <div class="image"><%= image_tag("pic03.jpg")%></div><div class="content">
                <h2>Bedroom</h2>
                <i class="fa fa-check-square-o">Making bed</i><br>
                <i class="fa fa-check-square-o">Wiping of windows</i><br>
                <i class="fa fa-check-square-o">Removing of cobwebs</i><br>
                <i class="fa fa-check-square-o">Dusting of furniture and surfaces</i><br>
                <i class="fa fa-check-square-o">Folding or hanging of clothes in bedroom</i><br>
                <i class="fa fa-check-square-o">Sweeping or Vacuuming and/or mopping floors</i><br><br>
              </div>
            </section>
            <section class="spotlight">
              <div class="image"><%= image_tag("pic04.jpg")%></div><div class="content">
                <h2>Bathroom</h2>
                <i class="fa fa-check-square-o">Mopping floors</i><br>
                <i class="fa fa-check-square-o">Removing of cobwebs</i><br>
                <i class="fa fa-check-square-o">Wiping of walls and mirrors</i><br>
                <i class="fa fa-check-square-o">Folding or hanging of clean towels</i><br>
                <i class="fa fa-check-square-o">Emptying bins and cleaning bin area</i><br>
                <i class="fa fa-check-square-o">Wiping of windows, counters and taps</i><br>
                <i class="fa fa-check-square-o">Cleaning of shower, bath, sinks and toilet</i><br>
                <i class="fa fa-check-square-o">Wiping outside of cupboards and cabinets</i><br><br>
              </div>
            </section>
          </section>

        <!-- Extra Services Three -->
          <section id="three" class="wrapper style3 special">
            <div class="inner">
              <header class="major">
                <h2>Extra Services</h2>
                <p>These services come at an extra cost.</p>
              </header>
              <ul class="features">
                <li>
                  <%= image_tag("fridge.png", style:"width:100px")%>
                  <h3>Inside Fridge Cleaning</h3>
                </li>
                <li >
                  <%= image_tag("laundry.png", style:"width:100px")%>
                  <h3>Laundry</h3>
                </li>
                <li>
                  <%= image_tag("store.png", style:"width:100px")%>
                  <h3>Storage Room Cleaning</h3>
                </li>
                <li>
                  <%= image_tag("compound.png", style:"width:100px")%>
                  <h3>Compound Cleaning</h3>
                </li>
              </ul>
            </div>
          </section>

        <!-- Contact CTA -->
          <section id="cta" class="wrapper style4">
            <div class="inner">
              <header>
                <h2>Contact Us</h2>
                <p>Do you have any questions?<br>
                  Send us an email: hello@springgh.com</p>
                <p>Use Spring for all your Home Cleaning and be assured of a reliable and quality job done.</p>
  
              </header>
              <ul class="actions vertical" style="padding-top: 60px;">
                <li>
                <%= link_to "Book a Cleaning", new_request_path, :class => "button fit special" %>
                </li>
                <li><a href="#" class="button fit">FAQ</a></li>
              </ul>
            </div>
          </section>

        <!-- Social Footer -->
          <footer id="footer">
            <!-- <ul class="icons">
              <li><a href="#" class="icon fa-twitter"><span class="label">Twitter</span></a></li>
              <li><a href="#" class="icon fa-facebook"><span class="label">Facebook</span></a></li>
              <li><a href="#" class="icon fa-instagram"><span class="label">Instagram</span></a></li>
            </ul> -->
            <ul class="copyright">
              <li>&copy;2016 Spring</li><li>Call Us on 020-061-0307</li>
            </ul>
          </footer>

      </div>

<!-- </body> -->
