<%= simple_form_for (request) do |f| %>
  <%= f.input :name,label: "Company name/Name of home owner" %>
  <%= f.input :phone_number, label: "Phone Number" %>
  <%= f.input :job_description , label: "Job Description" %>
  <%= f.input :address, label: "Address" %>
  <h4>
    Select Date and Time
  </h4>
  <%= f.datetime_select :date_time, :ampm => true, :minute_step => 15 %><br><br>


  <%= f.button :submit, "submit" %>
<% end %>