<%= simple_form_for (request) do |f| %>
<div class="container-fluid" >

  <div class="row">
    <div class="panel panel-info">
      <div class="panel-heading">
        <% if request.persisted? %>
          <h2 class="panel-title text-center">Edit Your House Details<small>&nbsp;&nbsp;edit</small></h2>
        <% else %>
          <h2 class="panel-title text-center">Tell Us About Your House &nbsp;
          <% if !client_signed_in? %>
            <%= link_to fa_icon("question"), :class =>"fa-question pull-right", :style => "border-right:none;" %>
            <% end %>
            </h2>
        <% end %>
      </div>
      <div class="panel-body" data-step="1" data-intro='Choose number of rooms for cleaning' >
      <% @token = params[:referral_code] %>

      <% if @token != nil %>
        <%= f.hidden_field :ref_code, :value => @token %>
      <% end %>
        <div onchange="calculatePricing()"> 
          <div class="col-md-3 col-sm-12 col-xs-12 text-center">
            <label>Bedrooms</label>
            <%= f.select :bedrooms, options_for_select([["1", 1], ["2", 2], ["3", 3], ["4", 4], ["5+", 5]], :selected => f.object.bedrooms),{},{:class => "btn btn-default"}%>
          </div>
          <div class="col-md-3 col-sm-12 col-xs-12 text-center">
            <label>Bathrooms</label>
            <%= f.select :bathrooms, options_for_select([["1", 1], ["2", 2], ["3", 3], ["4", 4], ["5+", 5]], :selected => f.object.bathrooms),{},{:class => "btn btn-default"} %>
          </div>
          <div class="col-md-3 col-sm-12 col-xs-12 text-center">
            <label>Kitchens</label>&nbsp;
            <%= f.select :kitchens, options_for_select([["1", 1], ["2", 2], ["3", 3], ["4", 4], ["5+", 5]], :selected => f.object.kitchens),{},{:class => "btn btn-default"} %> 
          </div>
          <div class="col-md-3 col-sm-12 col-xs-12 text-center">
            <label>Living Room</label>
            <%= f.select :hall, options_for_select([["1", 1], ["2", 2], ["3", 3], ["4", 4], ["5+", 5]], :selected => f.object.hall),{},{:class => "btn btn-default"} %>
          </div>
        </div>
      </div>
      
      <div class="panel-body"  data-step="2" data-intro='Choose any extra service you are interested in' >
        <div onclick="calculatePricing()" id="extra">
          <div class="col-md-12 col-xs-12">
            <%= f.input :extra_services, :collection => [["Compound Cleaning (GHc15.00)", 15.00], ["Fridge (GHc 10.00)", 10.01], ["Storeroom (GHc 10.00)", 10.00], ["Laundry (GHc40.00)", 40.00]], :as => :check_boxes, :item_wrapper_class => "inline", :label => "Extra Services" %>
          </div>
        </div> 
      </div>

      <div data-step="3" data-intro='How many times do you want this done?'>
        
        <div class="panel-body" style="padding-top:0px;">
         <div  onchange="calculatePricing()">
           <div class="col-md-12 col-sm-12" id="frequency">
            <%= f.input :frequency, :collection => [["Deep Cleaning (GHc 150.00)", 150.00], ["Weekly (GHc 150.00)", 150.01], ["Monthly (GHc 500.00)", 500.00]], :as => :radio_buttons,  :item_wrapper_class => "inline", :label => "Frequency", :selected => request.frequency %>
            </div>
          </div>
        </div>

        <div class="panel-body" data-step="4" style="padding-top:0px;" data-intro='Which days do you want this done?'>
          <div onclick="checkDays()" id="days">
            <div class="col-md-10 col-sm-12">
              <%= f.input :weekdays, :collection => [["Monday", "Monday"], ["Tuesday", "Tuesday"], ["Wednesday", "Wednesday"], ["Thursday", "Thursday"], ["Friday", "Friday"], ["Saturday", "Saturday"], ["Sunday", "Sunday"]], :as => :check_boxes, :item_wrapper_class => "inline", :label => "Schedule with us" %>
            </div>
          </div>
        </div>

      </div>
    
    <div class="panel-body" style="padding-top:0px;padding-bottom:0px;" data-step="4" data-intro='Which day and time should we arrive on?'>
      <div class="col-xs-12 text-center" id="datetime" onclick="checkMonth()">
        <h4 class="form-content-label">
          When Do You Want Us To Come?
        </h4>
        <%= f.datetime_select :date_time, :start_year => Time.now.year, :end_year => Time.now.year + 1, :ampm => true, :minute_step => 60, :class=>"btn btn-default text-center", :label =>"When Do You Want Us To Come?" %><br><br>
      </div>
      <% if request.errors.any? %>
        <div id="error_explanation">
          <!-- <h2><%#= pluralize(request.errors.count, "error") %> An error prohibited this article from being saved:</h2> -->

          <ul>
            <% request.errors.full_messages_for(:date_time).each do |msg| %>
            <li style="color:#a94442"><%= msg %></li>
            <% end %>
          </ul>
        </div>
      <% end %>
    </div>

    <div class="panel-body" style="padding-top:0px;" data-step="5" data-intro='Enter your email, phone number and location'>
       <div class="col-md-12 col-sm-12">
       <% if !client_signed_in? %>

       <div class="col-md-6 col-sm-12">
        <%= f.input :email, placeholder:"your email", label: "email" %>
       </div>

       <div class="col-md-6 col-sm-12">
        <%= f.input :phone_number, maxlength: "10", placeholder:"024 123 4567", label: "phone number" %>
       </div>
       
       <div class="col-md-6 col-sm-12">
        <%= f.input :location, maxlength: "55", placeholder:"House No., Area, or Landmark", label: "location" %>
       </div>

       <% end %>
       </div>
    </div>

    <div class="panel-body" data-step="6" data-intro='Agree to our Terms of Service'>
    <label><%= link_to "READ OUR TERMS OF SERVICE HERE", terms_of_service_path, target: '_blank' %></label>
      <div class="col-md-12 col-sm-12">

        <%= f.input :terms, label: "I Have Carefully Read And Fully Agreed To The Terms of Service", :selected => request.terms %> 

      </div>
    </div>
    <!-- </div> -->

    <div class="panel-body" data-step="7" style="padding:0px 0px 20px;">

      <div class="col-xs-12"  data-intro='That is all, Click the big yellow button to get a cleaner' class="roomSection">
        <%#= f.button :button, :class => "btn-primary btn-block btn-lg", :id => "back-to-schedule" %>
        <% if request.persisted? %>
        <%= f.button :submit, "Edit Request", :class=>"btn-primary btn-lg btn-block col-md-3" %>
        <% else %>
        <%= f.button :submit, "Book A Cleaning", :class=>"btn btn-block submit_button  col-md-3",:id =>"cleanButton" %>
        <% end %>
      </div>
    </div>

  </div>
</div>
</div>

</div>
<% end %>


<script>
  var e = document.getElementById('request_frequency_1500').parentNode;
  e.onmouseover = function () {
    document.getElementById('request_frequency_1500').parentNode.setAttribute("data-toggle","tooltip");
    document.getElementById('request_frequency_1500').parentNode.setAttribute("data-placement","bottom");
    document.getElementById('request_frequency_1500').parentNode.setAttribute("title","Deep Cleaning Service in 1 Day");
}

  var f = document.getElementById('request_frequency_15001').parentNode;
  f.onmouseover = function () {
    document.getElementById('request_frequency_15001').parentNode.setAttribute("data-toggle", "tooltip");
    document.getElementById('request_frequency_15001').parentNode.setAttribute("data-placement", "bottom");
    document.getElementById('request_frequency_15001').parentNode.setAttribute("title", "Cleaning Services Done 3 times A Week");
  }

  var g = document.getElementById('request_frequency_5000').parentNode;
  g.onmouseover = function () {
    document.getElementById('request_frequency_5000').parentNode.setAttribute("data-toggle", "tooltip");
    document.getElementById('request_frequency_5000').parentNode.setAttribute("data-placement", "bottom");
    document.getElementById('request_frequency_5000').parentNode.setAttribute("title", "Cleaning Services Done 12 times A Month");
  }
</script>

<script>
  var schedule = document.querySelectorAll("#days > div > .request_weekdays > label")[0];

  var a = document.getElementById('request_frequency_1500');
  if(a.checked == true) {
    schedule.innerHTML = "Schedule " + "&nbsp;<i>(Choose a day)</i>";
  }
  
  var b = document.getElementById('request_frequency_15001');
  if(b.checked == true) {
    schedule.innerHTML = "Schedule " + "&nbsp;<i>(Choose 3 days)</i>";
  }

  var c = document.getElementById('request_frequency_5000');
  if(c.checked == true) {
    schedule.innerHTML = "Schedule " + "&nbsp;<i>(Choose 3 days)</i>";
  }
</script>

<script>
  document.getElementsByClassName('fa-question').onclick = intro();
</script>


<script>
function intro() {
  introJs().start('.roomSection');
}
</script>