<%= simple_form_for (request) do |f| %>
 <!--  <#%= f.input :category, :collection => ["Company","Individual"], :as => :radio_buttons, :checked =>"Company", :item_wrapper_class => 'inline' ,:label => "Category" %> -->
  <%= f.input :phone_number, label: "Phone Number" %>
  <%= f.input :job_description , label: "Job Description" %>
  <%= f.input :frequency, label: "Frequency" %>
  <%= f.input :location, label: "Location" %>
  <h4 class="form-content-label">
    Select Date & Time
  </h4>
  <%= f.datetime_select :date_time, :ampm => true, :minute_step => 15 %><br><br>

  <%= f.button :submit, "GET A CLEANER NOW", :class=>"btn-block btn-lg" %>
<% end %>