<%= simple_form_for (request) do |f| %>
<div class="container-fluid" >
  <div class="row">

    
  <h3>Tell Us About Your House <small id="daPrice" class="pull-right"></small></h3>
  <br><br>
  <div class="row text-center">
    <div class="col-md-12" onclick="calculatePricing()"> 
      <%= f.select :bedrooms, options_for_select([["1 bedroom", 1], ["2 bedrooms", 2], ["3 bedrooms", 3], ["4 bedrooms", 4], ["5+ bedrooms", 5]], :selected => f.object.bedrooms) %>
      <%= f.select :bathrooms, options_for_select([["1 bathroom", 1], ["2 bathrooms", 2], ["3 bathrooms", 3], ["4 bathrooms", 4], ["5+ bathrooms", 5]], :selected => f.object.bathrooms) %>
      <%= f.select :kitchens, options_for_select([["1 kitchen", 1], ["2 kitchens", 2], ["3 kitchens", 3], ["4 kitchens", 4], ["5+ kitchens", 5]], :selected => f.object.kitchens) %> 
      <%= f.select :hall, options_for_select([["1 living room", 1], ["2 living rooms", 2], ["3 living rooms", 3], ["4 living rooms", 4], ["5+ living rooms", 5]], :selected => f.object.hall) %>
    </div>
    </div>
  </div>
   

 <div onclick="calculatePricing()">
   <%= f.input :extra_services, :collection => [["Compound cleaning($8.00)", 8], ["Washing & Ironing($7.00)", 7], ["Fridge($3.00)", 3], ["Storeroom($5.00)", 5]], :as => :check_boxes, :item_wrapper_class => "inline", :label => "Extra Services" %>
 </div> 

 <div class="row" onchange="calculatePricing();">
   <div class="col-md-6">
     <%= f.input :days, label: "Number of days" %>
   </div>

   <div class="col-md-6">
    <%= f.input :frequency, :collection => ["weekly", "monthly"], :as => :radio_buttons, :item_wrapper_class => "inline", :label => "Frequency" %>
    
    <div onclick="calculatePricing()">
    <%= f.input :weekdays, :collection => [["Monday", "Monday"], ["Tuesday", "Tuesday"], ["Wednesday", "Wednesday"], ["Thursday", "Thursday"], ["Friday", "Friday"], ["Saturday", "Saturday"], ["Sunday", "Sunday"]], :as => :check_boxes, :item_wrapper_class => "inline", :label => "Pick a day" %>
    </div>
   </div>

   <div class="col-md-12" onclick="calculatePricing()">
     <%= f.input :provide, :collection => ["Workforce provides cleaning products($3.00)", "I'll use my own cleaning products"], :as => :radio_buttons, :item_wrapper_class => 'inline', :label => "Which would you prefer?" %>
   </div>
 </div>
  
  <h4 class="form-content-label">
    When Do You Want Us To Come?
  </h4>
  <div class="row">
    
  <div class="col-xs-12">
  <%= f.datetime_select :date_time, :ampm => true, :minute_step => 15 %><br><br>
  </div>
  </div>
  
  <% if request.persisted? %>
  <%= f.button :submit, "Edit Request", :class=>"btn-block btn-lg" %>
  <% elsif %>
  <%= f.button :submit, "Get A Cleaner", :class=>"btn-block btn-lg" %>
  <% end %>
  
  </div>
  </div>
<% end %>