<%= simple_form_for (request) do |f| %>
<div class="container-fluid" >
  <div class="row">
    <div class="panel panel-info">
      <div class="panel-heading">
        <h3 class="panel-title">Title for this first panel</h3>
      </div>
      <div class="panel-body">

        <div class="col-md-12" onclick="calculatePricing()"> 
          <h3>Tell Us About Your House </h3>
          <%= f.select :bedrooms, options_for_select([["1 bedroom", 1], ["2 bedrooms", 2], ["3 bedrooms", 3], ["4 bedrooms", 4], ["5+ bedrooms", 5]], :selected => f.object.bedrooms),input_html: { class: 'special' },:class => "class-something" %>
          <%= f.select :bathrooms, options_for_select([["1 bathroom", 1], ["2 bathrooms", 2], ["3 bathrooms", 3], ["4 bathrooms", 4], ["5+ bathrooms", 5]], :selected => f.object.bathrooms) %>

          <%= f.select :kitchens, options_for_select([["1 kitchen", 1], ["2 kitchens", 2], ["3 kitchens", 3], ["4 kitchens", 4], ["5+ kitchens", 5]], :selected => f.object.kitchens) %> 
          <%= f.select :hall, options_for_select([["1 living room", 1], ["2 living rooms", 2], ["3 living rooms", 3], ["4 living rooms", 4], ["5+ living rooms", 5]], :selected => f.object.hall) %>
        </div>

        <div onclick="calculatePricing()">
          <div class="col-md-12">
            <%= f.input :extra_services, :collection => [["Compound cleaning($8.00)", 8], ["Washing & Ironing($7.00)", 7], ["Fridge($3.00)", 3], ["Storeroom($5.00)", 5]], :as => :check_boxes, :item_wrapper_class => "inline", :label => "Extra Services" %>
          </div>
        </div> 
      </div>

    </div>

    <br>

    <div class="panel panel-info">
     <div class="panel-heading">
       <h3 class="panel-title">Schedule</h3>
     </div>
     <div class="panel-body">
       <div  onchange="calculatePricing()">
         <div class="col-md-4">
           <%= f.input :days, label: "Number of days" %>
         </div>
         <div class="col-md-4 col-md-offset-2" >
          <%= f.input :frequency, :collection => ["weekly", "monthly"], :as => :radio_buttons, :item_wrapper_class => "inline", :label => "Frequency" %>
        </div>
      </div>
      <br>
      <div onkeyup="calculatePricing()"; onclick="checkDays()";>
      <div class="col-md-12">
          <%= f.input :weekdays, :collection => [["Monday", "Monday"], ["Tuesday", "Tuesday"], ["Wednesday", "Wednesday"], ["Thursday", "Thursday"], ["Friday", "Friday"], ["Saturday", "Saturday"], ["Sunday", "Sunday"]], :as => :check_boxes, :item_wrapper_class => "inline", :label => "Schedule with us" %>
        </div>
      </div>
    </div>
  </div>

  <div class="panel panel-info">
    <div class="panel-heading">
      <h3 class="panel-title">Preference or any title</h3>
    </div>
    <div class="panel-body">
      
  <div class="col-md-12" onclick="calculatePricing()">
    <%= f.input :provide, :collection => ["Spring provides cleaning products($3.00)", "I'll use my own cleaning products"], :as => :radio_buttons, :item_wrapper_class => 'inline', :label => "Which would you prefer?" %>
  </div>


  <br>
  
    <div class="col-xs-12">
      <h4 class="form-content-label">
        When Do You Want Us To Come?
      </h4>
      <%= f.datetime_select :date_time, :ampm => true, :minute_step => 15 %><br><br>
    </div>

    <br>
    <button type="button" class="btn btn-default">button</button>
  <%#= f.button :button, :class => "btn-primary btn-block btn-lg", :id => "back-to-schedule" %>
    <% if request.persisted? %>
    <%= f.button :submit, "Edit Request", :class=>"btn-primary btn-block btn-lg", :id =>"cleanButton"%>
    <% elsif %>
    <%= f.button :submit, "Get A Cleaner", :class=>"btn submit_button btn-block",:id =>"cleanButton" %>
    <% end %>

  

    </div>
  </div>
</div>
</div>

<% end %>