<h1>A list of Requests</h1>

<% Request.all.each do |request| %>
  <h4><%= request.name %></h4>
  <p><%= request.job_description %></p>
  <p><%= request.created_at %></p>

  <%= link_to "Edit", [:edit, request] %> | 
  <%= link_to "Show", request %>|
  <%= link_to "Delete", request, method: :delete, 
  				data: {confirm: "Are you sure you want to delete #{request.name}'s details?"} %>
<% end %>
