<div class="container-fluid" >
  <div class="row">
      <div class="col-sm-6 col-sm-offset-3">
      <div class="panel panel-info">
        <div class="panel-heading">

          <h2 class="panel-title text-left" style="text-transform: capitalize; padding-left: 20px;">Hi <strong><%= current_client.first_name %>,</strong></h2>
        </div>
        <div class="panel-body">

            <h3 class="text-left" style="margin-top:0px;padding-left:20px;"> Here are your requests:</h3>
              <% if @my_requests.count == 0 %>
                <h2>No Request has been made.</h2>
              <% elsif @my_requests.count > 0 %>
              <% @my_requests.each do |my_request| %>
                <% if my_request.status == "resolved" %>
                  <% if my_request.workers.any? %>
                          <h3><strong>Request No.<%= my_request.id %></strong>STATUS: <%= link_to fa_icon("eye") + " RESOLVED", my_request, :class=>"btn btn-info" %></h3> Your cleaner will be with you shortly. 
                              </h3>
                          <!-- </tr> -->
<!--                     <h3><strong>Request No.<%= my_request.id %> </strong>STATUS: <%#= link_to fa_icon("eye") + " RESOLVED", my_request, :class=>"btn btn-info" %> Your cleaner will be with you shortly.  </h3> -->
                  <% end %>
                <% elsif my_request.status == "done" %>
                    <h3><strong>Request No.<%= my_request.id %></strong>STATUS: This request has been <%= link_to fa_icon("eye") + " COMPLETED", my_request, :class=>"btn btn-success" %> </h3>
                <% elsif my_request.status == "redo" %>
                    <h3><strong>Request No.<%= my_request.id %></strong>STATUS: This request is being <%= link_to fa_icon("eye") + " RE-ASSIGNED", my_request, :class=>"btn btn-danger" %> to another cleaner. We will notify you as soon as a cleaner is re-assigned.  </h3>
                <% elsif my_request.status == "unresolved" %>
                  <div class="table-responsive">
                    <table class="table table-bordered">
                      <tbody>
                          <tr>
                            <td style="width:50%; border-color:#e8e8e8;">
                             <h3><strong>Request No.<%= my_request.id %></strong></h3>
                            </td>
                            <td style="border-color:#e8e8e8;">
                             <h3><%= link_to fa_icon("eye") + " View Request", my_request, :class=>"btn btn-primary" %> </h3>
                            </td>

                            <% if ((Time.now.day + 1) - my_request.updated_at.day) < 2 %>
                            <td style="border-color:#e8e8e8;">
                             <h3><%= link_to fa_icon("pencil") + " Edit Request", [:edit, my_request], :class=>"btn btn-info" %> </h3>
                            </td>
                            <td style="border-color:#e8e8e8;">
                             <h3><%= link_to fa_icon("trash") + " Delete Request", request_path(my_request), method: :delete, data: {confirm: "Are you sure you want to delete this request?"}, :class=>"btn btn-danger" %> </h3>
                            </td>
                            <% end %>

                          </tr>
                      </tbody>
                    </table>
                  </div>
                <% end %>
              <% end %>
            <% end %>
             <div class="text-center">
               
              <%= link_to fa_icon("plus") + " Create A Request", new_request_path, :class=>"btn btn-primary" %>
             </div>

            </div>
        </div>
    </div>
</div>
