<div class="container-fluid" >
    <div class="row">
        <div class="col-sm-6 col-sm-offset-3 text-center">
<!-- <div class="well"> -->
      
      <div class="panel panel-info">
        <div class="panel-heading text-left" style="border-bottom:solid 1px rgba(25,41,100,0.2);">
          <h2>Hi <strong><%= current_client.fullname %></strong></h2>
        </div>
        <div class="panel-body">

            <h3 class="text-left" style="margin-top:0px;"> Here are your requests:</h3>
              <% if @my_requests.count == 0 %>
                <h2>No Request has been made.</h2>
              <% elsif @my_requests.count > 0 %>

              <% @my_requests.each do |my_request| %>
                <% if my_request.resolved == true %>
                  <h3><strong><%= my_request.id %></strong></h3><h3>status: This request has been resolved. Your cleaner will be with you shortly. <br> <%= link_to "View", my_request, :class=>"btn-primary" %> </h3>
                <% else %>
                  <div class="table-responsive">
                    <table class="table table-bordered">
                      <tbody>
                          <tr>
                            <td style="width:50%; border-color:#e8e8e8;">
                             <h3>Request No.<%= my_request.id %></h3>
                            </td>
                            <td style="border-color:#e8e8e8;">
                             <h3><%= link_to "View", my_request, :class=>"btn btn-default" %> </h3>
                            </td>
                            <td style="border-color:#e8e8e8;">
                             <h3><%= link_to "Edit", [:edit, my_request], :class=>"btn btn-danger" %> </h3>
                            </td>
                          </tr>
                      </tbody>
                    </table>
                  </div>
                <% end %>
              <% end %>
            <% end %>

              <%= link_to "Create A Request", new_request_path, :class=>"btn btn_submit btn-primary" %>

            </div>
        </div>
    </div>
</div>
