<div class="container" >
      <div class="row">
         <div class="col-sm-8 col-sm-offset-2 form-box wow content-box text-center">
         <div class="panel panel-default">
  <!-- Default panel contents -->
 <div class="panel-heading"><h3><%= @request.name %></h3></div> 

  <!-- Table -->
  <table class="table table-bordered">
        <thead>
            <tr>
                <th>
                   Job Description  
                </th>
                <th>
                   Phone Number 
                </th>
                <th>
                    Address
                </th>
                <th>
                    Date
                </th>
                <th>
                    Time
                </th>
                <th colspan="2">
                    &nbsp;&nbsp;&nbsp;Start &nbsp;&nbsp;&&nbsp;&nbsp; End Time
                </th>
                <th>
                    Duration
                </th>
            <tr>
        </thead>
        <tbody>
            <tr>
                <td>
                    <p><%= @request.job_description %></p>
                </td>
                <td>
                    <p><%= @request.phone_number %></p>
                </td>
                <td>
                    <p><%= @request.location %></p>
                </td>
                <td>
                    <p><%= @request.date_time.strftime("%B %d, %Y") %></p>
                </td>
                <td>
                    <p><%= @request.date_time.strftime("%T") %></p>
                </td>
                <td>
                    <p><%= @request.start_time.strftime("%H %M %p") %></p>
                </td>
                <td>
                    <p><%= @request.endtime.strftime("%H %M %p") %></p>
                </td>
                <td>
                    <p><%= @request.endtime.strftime("%H").to_i - @request.start_time.strftime("%H").to_i %> hours</p>
                </td>
            </tr>
        </tbody>
  </table>            
<hr style="border-color:#eee;">
        <% if @request.resolved == true %>
        <%= link_to "Back", root_path %>
        <% else %>
          <%=  link_to "Edit", [:edit, @request] %> | <%= link_to "Back", root_path %>
        <% end %>
</div>
</div>
</div>
</div>
