<div class="container-fluid">
  <div class="row">
     <div class="col-xs-12 col-sm-10 col-sm-offset-1 text-center">

   <div class="panel-group"  style="padding-bottom:185px;">
   <div class="panel panel-default">
  <!-- Default panel contents -->
   <!-- <div class="panel-heading"></div> -->
  
   <div class="panel-body" style="padding: 0px;">

  <!-- Table -->

     
  <div class="table-responsive">
  <table class="table table-bordered">
        <thead>
            <tr>
                <th>
                  House details
                </th>
                <th>
                  Extra Services
                </th>
                <th>
                  Selected Days
                </th>
                <th>
                  Frequency
                </th>
                <th>
                    Date
                </th>
                <th>
                    Time
                </th>
            <tr>
        </thead>
        <tbody>
            <tr>
               <td>
                 <%= pluralize(@request.bedrooms, "bedroom") %>, 
                 <%= pluralize(@request.bathrooms, "bathroom") %>, 
                 <%= pluralize(@request.kitchens, "kitchen") %>, 
                 <%= pluralize(@request.hall, "living room") %>
               </td> 
               <td>
                 <% @request.extra_services.each do |services| %>
                   <% if services == 15.00 %>
                   <p>Compound Cleaning(GHc 15.00)</p>
                   <% end %>

                   <% if services == 10.01 %>
                   <p>Fridge(GHc 10.00)</p>
                   <% end %>

                   <% if services == 10.00 %>
                   <p>Storeroom(GHc 10.00)</p>
                   <% end %>
                 <% end %>
               </td>
               <td>
                 <% @request.weekdays.each do |day| %>
                   <p><%= day %></p>
                 <% end %>
               </td> 
               <td>
                 <% if @request.frequency == 60 %>
                 <p>One Off(GHc 60.00)</p>
                 <% elsif @request.frequency == 150 %>
                 <p>Weekly(GHc 150.00)</p>
                 <% elsif @request.frequency == 500 %>
                   <p>Monthly(GHc 500.00)</p>
                 <% end %>
               </td>  
                <td>
                    <p><%= @request.date_time.strftime("%B %d, %Y") %></p>
                </td>
                <td>
                    <p><%= @request.date_time.strftime("%T") %></p>
                </td>
            </tr>
        </tbody>
  </table>           
  </div> 
        <% if @request.resolved == true %>
        <%= link_to "Submit Another Request", new_request_path, :class => "btn btn-primary" %>
        <%= link_to "Home", root_path, :class => "btn btn-default" %>
        <% else %>
          <%=  link_to "Edit", [:edit, @request], :class => "btn btn-default" %> <%= link_to "Back", :back, :class => "btn btn-danger" %>
        <% end %>





      

        <!--Business Algorithm -->

        <% @rooms = @request.bathrooms + @request.bedrooms + @request.hall + @request.kitchens %>

        <% extra_services = 0 %>
        <% a = @request.extra_services.length.to_i - 1 %>

        <% for i in 0...a %>
          <% extra_services += @request.extra_services[i].to_i %> 
        <% end %>

        <% one_off_package = 60 %>
        <% weekly_package = 150 %>
        <% monthly_package = 500 %> 


        <% if @request.frequency == 60 %>

        
         <% price = one_off_package + (@rooms - 4)*5 + extra_services %>
         <h2> Your price is  GHc <%= price %> </h2>

        <% elsif @request.frequency == 150 %>

         <% price = weekly_package = 150  + (@rooms - 4)*5 + extra_services %>
         <h2> Your price is  GHc <%= price %> </h2>

        <% elsif  @request.frequency == 500 %>
        
          <% if @rooms > 8 %>
          <% price = monthly_package + (@rooms - 8)*5 + extra_services %>
          <h2> Your price is GHc  <%= price %> </h2>

          <% elsif @rooms <= 8 %>
          <% price = monthly_package + extra_services %>
          <h2> Your price is  GHc <span class="daPrice"><%= price %></span></h2>

          <% end %>         
         
        <% end %>


 <!-- 
        <%# @rooms = @request.bathrooms + @request.bedrooms + @request.hall + @request.kitchens %>

        <%# @base_price = 12 %>


        <% #sum = 0 %>
        <%# a = @request.extra_services.length.to_i - 1 %>

        <% #if @request.bathrooms == 1 && @request.bedrooms==1 && @request.hall==1 && @request.kitchens==1 %>

        

        <% #for i in 0...a %>
          <%# sum += @request.extra_services[i].to_i %>
        <% #end %>

        <%# if @request.provide == "Workforce provides cleaning products($3.00)" %>
        <h2 style="border-top: solid 1px #324072;">Your price is  $<%#= (@base_price + sum + 3) %>.00</h2>
        <%# elsif @request.provide == "I'll use my own cleaning products" %>
        <h2>Your price is  $<%#= (@base_price + sum) %>.00</h2>  
        <% #end %>

        <% #elsif  @request.bathrooms >= 1 && @request.bedrooms >= 1 && @request.hall>=1 && @request.kitchens >=1 %>

        <% #for i in 0...a %>
          <%# sum += @request.extra_services[i].to_i %>
        <%# end %>

        <% #@price = ((@rooms - 4 )* 5 ) + @base_price %>

        <% #if @request.provide == "Spring provides cleaning products($3.00)" %>
        <h2>Your price is  $<%#= (@price + sum + 3) %>.00</h2>
        <% #elsif @request.provide == "I'll use my own cleaning products" %>
        <h2>Your price is  $<%#= (@price + sum) %>.00</h2>
        <% #end %>

        <%# end %>  -->
        <!-- business algorithm -->
</div>
</div>
</div>
</div>
