<div class="container" >
      <div class="row">
         <div class="col-xs-12 col-sm-8 col-sm-offset-2 form-box content-box text-center">
         <div class="panel panel-default">
  <!-- Default panel contents -->

  <!-- Table -->
  <div class="table-responsive">
  <table class="table table-bordered">
        <thead>
            <tr>
                <th>
                  House details
                </th>
                <th>
                  Extra Services
                </th>
                <th>
                  Selected Days
                </th>
                <th>
                  Frequency
                </th>
                <th>
                  Cleaning products
                </th>
                <th>
                    Date
                </th>
                <th>
                    Time
                </th>
            <tr>
        </thead>
        <tbody>
            <tr>
               <td>
                 <%= pluralize(@request.bedrooms, "bedroom") %>, 
                 <%= pluralize(@request.bathrooms, "bathroom") %>, 
                 <%= pluralize(@request.kitchens, "kitchen") %>, 
                 <%= pluralize(@request.hall, "living room") %>
               </td> 
               <td>
                 <% @request.extra_services.each do |services| %>
                   <p><%= services %></p>
                 <% end %>
               </td>
               <td>
                 <% @request.weekdays.each do |day| %>
                   <p><%= day %></p>
                 <% end %>
               </td> 
               <td>
                 <%= @request.days %> times <%= @request.frequency %>
               </td>  
               <td>
                 <p><%= @request.provide %></p>
               </td>
                <td>
                    <p><%= @request.date_time.strftime("%B %d, %Y") %></p>
                </td>
                <td>
                    <p><%= @request.date_time.strftime("%T") %></p>
                </td>
            </tr>
        </tbody>
  </table>           
  </div> 
<hr style="border-color:#eee;">
        <% if @request.resolved == true %>
        <%= link_to "Back", root_path %>
        <% else %>
          <%=  link_to "Edit", [:edit, @request] %> | <%= link_to "Back", root_path %>
        <% end %>

        <!--Business Algorithm -->
 
        <% @rooms = @request.bathrooms + @request.bedrooms + @request.hall + @request.kitchens %>

        <% @base_price = 45 %>

        

        <% if @request.bathrooms == 1 && @request.bedrooms==1 && @request.hall==1 && @request.kitchens==1 %>

        <h2>Your price is GHS <%= @base_price * @request.days %></h2>

        <% elsif  @request.bathrooms >= 1 && @request.bedrooms >= 1 && @request.hall>=1 && @request.kitchens >=1 %>
        <% @price = ((@rooms - 4 )* 15 ) + @base_price %>
        <h2>Your price is GHS <%= @price * @request.days %></h2>
        <% end %> 
        <!-- business algorithm -->
</div>
</div>
</div>
</div>
