<div class="container">
  <div class="row" style="padding-top: 40px;">


   <div class="col-xs-12 col-md-5 col-md-offset-1 text-center">
    <div class="panel panel-info">
    <% if @request.status == "done" %>
    <div class="panel-heading text-left" style="border-bottom:solid 1px rgba(25,41,100,0.2);">
        <h2 class="panel-title text-center"><strong>This cleaning request has been completed.</strong></h2>
    </div>
    <% elsif @request.status == "resolved" %>
      <div class="panel-heading text-left" style="border-bottom:solid 1px rgba(25,41,100,0.2);">
        <h2 class="panel-title text-center"><strong>A cleaner has been assigned to this cleaning request.</strong></h2>
      </div>
    <% else %>
    <div class="panel-heading text-left" style="border-bottom:solid 1px rgba(25,41,100,0.2);">
        <h2 class="panel-title text-center"><strong>Your cleaning request.</strong></h2>
    </div>      
    <% end %>
      <div class="panel-body" style="padding-left: 5px; padding-top: 0px;">
         
    <table id="hor-minimalist-b" class="table-responsive" style="width:100%;margin-bottom:10px;">
        <tr>
          <td><b>Request ID </b></td>
          <td><%= @request.id %></td>
        </tr>
        <tr>
          <td><b>House Details</b></td>
            <td>
             <%= pluralize(@request.bedrooms, "bedroom") %>, 
             <%= pluralize(@request.bathrooms, "bathroom") %>, 
             <%= pluralize(@request.kitchens, "kitchen") %>, 
             <%= pluralize(@request.hall, "living room") %>
           </td> 
        </tr>
        <tr>
          <td><b>Extra Services</b></td>
          <td>
             <% if @request.extra_services.any? %>
             <% @request.extra_services.each do |services| %>
             <% if services == 15.00 %>
             <p>Compound Cleaning(GHS 15.00)</p>
             <% end %>

             <% if services == 10.01 %>
             <p>Fridge(GHS 10.00)</p>
             <% end %>

             <% if services == 10.00 %>
             <p>Storeroom(GHS 10.00)</p>
             <% end %>

             <% if services == 40.00 %>
             <p>Laundry(GHS 40.00)</p>
             <% end %>
             <% end %>
             <% else %>
               none selected
             <% end %>
           </td>
        </tr>
        <tr>
          <td><b>Selected Days</b></td>
            <td>
               <% if @request.weekdays.length == 1 %>
               <%= @request.date_time.strftime("%A")%>
               <% else %>
                 <% @request.weekdays.each do |day| %>
                 <p><%= day %></p>
                 <% end %>
               <% end %>
             </td> 
        </tr>
        <tr>
          <td><b>Frequency</b></td>
            <td>
             <% if @request.frequency == 150.00 %>
             <p>One-Time Cleaning(GHS 150.00)</p>
             <% elsif @request.frequency == 200.00 %>
             <p>Weekly(GHS 200.00)</p>
             <% elsif @request.frequency == 500.00 %>
             <p>Monthly(GHS 500.00)</p>
             <% end %>
           </td>  
        </tr>
        <tr>
          <td><b>Date</b></td>
          <td>
            <p><%= @request.date.to_date.strftime("%B %d, %Y") %></p>
          </td>
        </tr>
        <tr>
          <td><b>Time</b></td>
           <td>
              <p><%= @request.date.to_date.strftime("%T") %></p>
            </td>
        </tr>
      </table>

       <!-- </div> -->
     <!-- </div> -->
   <!-- </div> -->






        <% if @request.status == "resolved" %>
        <%= link_to fa_icon("arrow-circle-up") + "Submit Another Request", new_request_path, :class => "btn btn-primary" %>
        <%#= link_to "Back", :back, :class => "btn btn-danger" %>
        <% elsif @request.status == "done" %>
        
        <%= link_to fa_icon("arrow-circle-up") + "Submit Another Request", new_request_path, :class => "btn btn-primary" %>
        <%#= link_to "Back", :back, :class => "btn btn-danger" %>
        
        <% elsif ((Time.now.day + 1) - @request.updated_at.day) < 2 %>
        <%= link_to fa_icon("arrow-circle-up") + " Submit Another Request", new_request_path, :class => "btn btn-primary" %> <%=  link_to fa_icon("pencil") + " Edit", [:edit, @request], :class => "btn btn-info" %> <%#= link_to "Back", :back, :class => "btn btn-danger" %>
        <% else %>
        <%#= link_to "Back", :back, :class => "btn btn-danger" %>
        <% end %>
        

        
        <% if @request.promocode == "mothersday2016" %>
        <h3> Your total cost is  GHS <span class="daPrice"><%= @request.total_cost.to_i %>.00(20% off)</span></h3><h2> Happy Mother's Day!</h2>
        <% else %>
        <h3> Your total cost is  GHS <span class="daPrice"><%= @request.total_cost.to_i %>.00</span></h3>
        <% end %>
        
          </div>
        </div>
      </div>

      <div class="col-xs-12 col-md-4 col-md-offset-1 text-center">
        
        <div class="panel panel-info">
          <div class="panel-heading text-left" style="border-bottom:solid 1px rgba(25,41,100,0.2);">
            <h2 class="panel-title text-center"><strong>Assigned Cleaner(s)</strong></h2>
          </div>
          <div class="panel-body">

            <h3 class="text-left" style="margin-top:0px;"></h3>
            <h2> <p></p></h2>
            <div class="table-responsive">
              <table class="table table-bordered">
                <% if @request.status == "resolved" && current_client %>

                <% @request.workers.where(assigned: true).uniq.each do |worker| %>
                <tbody>
                  <tr>
                    <td style="width:50%; border-color:#e8e8e8;">
                     <h4><%= worker.first_name %>.</h4>
                   </td>
                   <td style="border-color:#e8e8e8;">
                     <h3><%= link_to fa_icon("eye") + " View Cleaner", worker_path(worker), :class=>"btn btn-primary" %> </h3>
                   </td>
                   <td style="border-color:#e8e8e8;">
                     <h3> </h3>
                   </td>
                 </tr>
               </tbody>
               <% end %>
               <% elsif  @request.status == "done" && current_client %>
               No cleaner assigned to this request at the moment.
               <p><%= link_to fa_icon("eye") + "view previously assigned cleaners", workers_path,  class: "btn btn-primary" %></p>
               <% elsif  @request.status == "redo" && current_client %>
               You request is currently being re-assigned. Please hold..
               <p><%= link_to fa_icon("eye") + "view previously assigned cleaners", workers_path,  class: "btn btn-primary" %></p>
               <% elsif @request.status == "resolved" && !current_client %>
               No cleaner assigned to this request at the moment.
               <p><%= link_to fa_icon("eye") + "view previously assigned cleaners", new_client_session_path, data: {confirm: "You must be logged in to have access to this. Click Ok to proceed to log in."}, class: "btn btn-primary" %></p>
               <% elsif !current_client %>
               No cleaner assigned to this request at the moment.
               <p><%= link_to fa_icon("eye") + "view previously assigned cleaners", new_client_session_path, data: {confirm: "You must be logged in to have access to this. Click Ok to proceed to log in."}, class: "btn btn-primary" %></p>
               <% elsif  @request.status == "unresolved" && current_client %>
               No cleaner assigned to this request at the moment.
               <p><%= link_to fa_icon("eye") + " view previously assigned cleaners", workers_path,  class: "btn btn-primary" %></p>
               <% end %>
             </table>
           </div>
         </div>
       </div>
     </div>

  </div>
</div>

 <div class="modal fade" id="requestModal" style="margin-top:50px;">
    <div class="row">
    <div class="col-md-4 col-md-offset-4 col-xs-10 col-xs-offset-1">
      <div class="modal-header" style="border-bottom-width: 0px; border-top:solid 1px #000; padding-left:0px; padding-right:0px; border-radius:0px;background:#fff;">
          <a class="close" data-dismiss="modal" style="margin-right:10px;">×</a>
          <div class="text-center" style="width:40%; margin: 0 auto;">
            <%= image_tag("spring2-logo-final.png", :alt => "spring logo", :class => "img-responsive") %>
          </div> 
      </div>
      <div class="modal-body text-center" style="background:#fff;">
      <p style="padding-bottom:10px;">Your password has been sent to your email address</p>
          <!-- <button class="btn btn-lg btn-spring-ob" data-dismiss="modal">Guide</button> -->
      </div>
      <div class="modal-footer" style="background:#fff; border-top-width:0px;">
        <div class="text-center"> 
            <a href="#" class="btn" data-dismiss="modal">Close</a>
        </div>
      </div>
      </div>
    </div>
  </div>


<% if current_client.sign_in_count == 1 && current_client.requests.count == 1 %>
  <script>
    (function(){
      $(window).ready(function () {
        if (sessionStorage['modalshown'] == null) {
          $("#requestModal").modal(); 
          sessionStorage['modalshown'] = "yes"
        };
      }); 
    })();
  </script> 
<% end %>

   <style>
          #hor-minimalist-b
          {
            font-family: "Lucida Sans Unicode", "Lucida Grande", Sans-Serif;
            font-size: 14px;
            background: #fff;
            /*margin: 45px;*/
            width: 480px;
            border-collapse: collapse;
            text-align: left;
          }
          #hor-minimalist-b th
          {
            font-size: 14px;
            font-weight: normal;
            color: #039;
            padding: 10px 8px;
            border-bottom: 2px solid #6678b1;
          }
          #hor-minimalist-b td
          {
            border-bottom: 1px solid #ccc;
            color: #797979;
            padding: 13px 8px;
          }
      </style>