<h3><%= @request.name %></h3>
<h4>Job Description</h4>
<p><%= @request.job_description %></p>

<h4>Phone Number</h4>
<p><%= @request.phone_number %></p>

<h4>Address</h4>
<p><%= @request.address %></p>

<h4>Date</h4>
<p><%= @request.date_time.strftime("%B %d, %Y") %></p>

<h4>Time</h4>
<p><%= @request.date_time.strftime("%T") %></p>

<%=  link_to "Edit", [:edit, @request] %> | 
<%= link_to "Delete", @request, method: :delete, 
			data: { confirm: "Are you sure want delete #{@request.name}'s details?" } %>