<div class="container-fluid" >
  <div class="row">
     <div class="col-xs-12 col-sm-10 col-sm-offset-1 text-center">

   <div class="panel-group">
   <div class="panel panel-default">
  <!-- Default panel contents -->
   <!-- <div class="panel-heading"></div> -->
  
   <div class="panel-body">

  <!-- Table -->

     
  <div class="table-responsive">
  <table class="table table-bordered">
        <thead>
            <tr>
                <th>
                  House details
                </th>
                <th>
                  Extra Services
                </th>
                <th>
                  Selected Days
                </th>
                <th>
                  Frequency
                </th>
                <th>
                    Date
                </th>
                <th>
                    Time
                </th>
            <tr>
        </thead>
        <tbody>
            <tr>
               <td>
                 <%= pluralize(@request.bedrooms, "bedroom") %>, 
                 <%= pluralize(@request.bathrooms, "bathroom") %>, 
                 <%= pluralize(@request.kitchens, "kitchen") %>, 
                 <%= pluralize(@request.hall, "living room") %>
               </td> 
               <td>
                 <% @request.extra_services.each do |services| %>
                   <% if services == 15 %>
                   <p>Compound Cleaning</p>
                   <% end %>

                   <% if services == 11 %>
                   <p>Fridge</p>
                   <% end %>

                   <% if services == 10 %>
                   <p>Storeroom</p>
                   <% end %>
                 <% end %>
               </td>
               <td>
                 <% @request.weekdays.each do |day| %>
                   <p><%= day %></p>
                 <% end %>
               </td> 
               <td>
                 <%= @request.frequency %>
               </td>  
                <td>
                    <p><%= @request.date_time.strftime("%B %d, %Y") %></p>
                </td>
                <td>
                    <p><%= @request.date_time.strftime("%T") %></p>
                </td>
            </tr>
        </tbody>
  </table>           
  </div> 
        <% if @request.resolved == true %>
        <%= link_to "Back", :back %>
        <% else %>
          <%=  link_to "Edit", [:edit, @request], :class => "btn btn-default" %> <%= link_to "Back", :back, :class => "btn btn-danger" %>
        <% end %>
      

        <!--Business Algorithm -->
 <!-- 
        <%# @rooms = @request.bathrooms + @request.bedrooms + @request.hall + @request.kitchens %>

        <%# @base_price = 12 %>


        <% #sum = 0 %>
        <%# a = @request.extra_services.length.to_i - 1 %>

        <% #if @request.bathrooms == 1 && @request.bedrooms==1 && @request.hall==1 && @request.kitchens==1 %>

        

        <% #for i in 0...a %>
          <%# sum += @request.extra_services[i].to_i %>
        <% #end %>

        <%# if @request.provide == "Workforce provides cleaning products($3.00)" %>
        <h2 style="border-top: solid 1px #324072;">Your price is  $<%#= (@base_price + sum + 3) %>.00</h2>
        <%# elsif @request.provide == "I'll use my own cleaning products" %>
        <h2>Your price is  $<%#= (@base_price + sum) %>.00</h2>  
        <% #end %>

        <% #elsif  @request.bathrooms >= 1 && @request.bedrooms >= 1 && @request.hall>=1 && @request.kitchens >=1 %>

        <% #for i in 0...a %>
          <%# sum += @request.extra_services[i].to_i %>
        <%# end %>

        <% #@price = ((@rooms - 4 )* 5 ) + @base_price %>

        <% #if @request.provide == "Spring provides cleaning products($3.00)" %>
        <h2>Your price is  $<%#= (@price + sum + 3) %>.00</h2>
        <% #elsif @request.provide == "I'll use my own cleaning products" %>
        <h2>Your price is  $<%#= (@price + sum) %>.00</h2>
        <% #end %>

        <%# end %>  -->
        <!-- business algorithm -->
</div>
</div>
</div>
</div>
