<div class="container" >
      <div class="row">
         <div class="col-sm-8 col-sm-offset-2 form-box wow content-box text-center">
         <div class="panel panel-default">
  <!-- Default panel contents -->

  <!-- Table -->
  <table class="table table-bordered">
        <thead>
            <tr>
                <th>
                   Job Description  
                </th>
                <th>
                   Phone Number 
                </th>
                <th>
                    Address
                </th>
                <th>
                    Date
                </th>
                <th>
                    Time
                </th>
            <tr>
        </thead>
        <tbody>
            <tr>
                <td>
                    <p><%= @request.job_description %></p>
                </td>
                <td>
                    <p><%= @request.phone_number %></p>
                </td>
                <td>
                    <p><%= @request.location %></p>
                </td>
                <td>
                    <p><%= @request.date_time.strftime("%B %d, %Y") %></p>
                </td>
                <td>
                    <p><%= @request.date_time.strftime("%T") %></p>
                </td>
            </tr>
        </tbody>
  </table>            
<hr style="border-color:#eee;">
        <% if @request.resolved == true %>
        <%= link_to "Back", root_path %>
        <% else %>
          <%=  link_to "Edit", [:edit, @request] %> | <%= link_to "Back", root_path %>
        <% end %>
</div>
</div>
</div>
</div>
