<div class="container" >
      <div class="row">
         <div class="col-xs-12 col-sm-8 col-sm-offset-2 form-box content-box text-center">
         <div class="panel panel-default">
  <!-- Default panel contents -->

  <!-- Table -->
  <div class="table-responsive">
  <table class="table table-bordered">
        <thead>
            <tr>
                <th>
                   Other Tasks  
                </th>
                <th>
                   Phone Number 
                </th>
                <th>
                    Address
                </th>
                <th>
                    Date
                </th>
                <th>
                    Time
                </th>
            <tr>
        </thead>
        <tbody>
            <tr>
                <td>
                    <p><%= @request.other_task %></p>
                </td>
                <td>
                    <p><%= @request.phone_number %></p>
                </td>
                <td>
                    <p><%= @request.location %></p>
                </td>
                <td>
                    <p><%= @request.date_time.strftime("%B %d, %Y") %></p>
                </td>
                <td>
                    <p><%= @request.date_time.strftime("%T") %></p>
                </td>
            </tr>
        </tbody>
  </table>           
  </div> 
<hr style="border-color:#eee;">
        <% if @request.resolved == true %>
        <%= link_to "Back", root_path %>
        <% else %>
          <%=  link_to "Edit", [:edit, @request] %> | <%= link_to "Back", root_path %>
        <% end %>

        <!--Business Algorithm -->
 
        <% @rooms = @request.bathrooms + @request.bedrooms + @request.hall + @request.kitchens %>

        <% @base_price = 45 %>

        <% if @request.bathrooms >= 1 || @request.bedrooms >= 1 || @request.hall >=1 || @request.kitchens >= 1 %>

        <h2> Your price is GHS <%= @base_price * @request.days %></h2>

        <% elsif @request.bathrooms == 1 && @request.bedrooms==1 && @request.hall==1 && @request.kitchens==1 %>
        <h2>Your price is GHS <%= @base_price * @request.days %></h2>

        <% elsif  @request.bathrooms >= 1 && @request.bedrooms >= 1 && @request.hall>=1 && @request.kitchens >=1 %>
        <% @price = (@rooms - 4 )* 15 * @request.days %>
        <h2>Your price is GHS <%= @price + @base_price %></h2>
        <% end %> 
        <!-- business algorithm -->
</div>
</div>
</div>
</div>
