<div class="row">
	<div class="col-lg-12">
		<section class="panel">
			<header class="panel-heading">
				<h1>Referral Score Board</h1>
			</header>

			<table class="table table-striped table-advance table-hover">
				<tbody>
					<tr>
						<th><i class="fa fa-user"></i> Full Name</th>
						<th><i class="fa fa-share"></i> Referrals</th>
						<th><i class="fa sort-numeric-asc"></i> Spring Points</th>
						<th></th>
					</tr>
					<% @clients.each do |client| %>
					<tr>
						<td><%= client.first_name %>, <%= client.last_name %></td>
						<td><%= client.referrals.count %></td>
						<td><%= client.points %></td>
						<td><%= link_to fa_icon("eye") + " View", admin_client_referrals_path(client), class: "btn btn-info" %></td>
					</tr>                             
				</tbody>
				<% end %>
			</table>
		</section>
	</div>
</div>