<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Hi, <%= @client.first_name %></h1>
    <p>
      A cleaner has been assigned to your request. Below is a brief bio of the assigned cleaner:
    </p>

    <h2><strong>Cleaner Bio</strong></h2>
    <h3>Photo</h3>
    <%= link_to (image_tag @worker.photo_url(:thumb)), @worker.photo.url, class: "img-circle img-responsive" %>
    <p><strong><%= @worker.first_name %>, <%= @worker.last_name %></strong></p>
    <p><strong>sex: <%= @worker.sex %></strong></p>


    <p>
      Per protocol you are suppose to verify the identity of the cleaner sent to you.
      The following security code has been generated:
      <h3>SECURITY CODE: <%= @security_code%>.</h3> The cleaner we send you should have this code with 
      him or her. If not, please contact us immediately at 020-061-0307 or hit us up in email at 
      hello@springgh.com. 
    </p>
    <p>
      To login to the site, just follow this link: <%= link_to "Sign in", @url %>.
    </p>
    <p>Thank you for using our service and have a great day!</p>
  </body>
</html>
