<div class="container-fluid" style="height:100%;">
  <div class="row" style="min-height:100%;">
      <!-- <div class="col-sm-6 form-box wow fadeInUp content-box"></div> -->

       <div class="col-lg-4 col-lg-offset-4">

         <div class="panel-group">
           <div class="panel panel-info">
          <!-- Default panel contents -->
           <div class="panel-heading">
                  <h2 class="panel-title text-center">Log in</h2>
           </div>
          
                 <div class="panel-body">

                  <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
                    <div class="field">
                      <%= f.label :email, :class=>"login-label" %><br />
                      <%= f.email_field :email, autofocus: true, :class=>"form-control" %>
                    </div>
        <br>
                    <div class="field">
                      <%= f.label :password, :class=>"login-label" %><br />
                      <%= f.password_field :password, autocomplete: "off", :class=>"form-control" %>
                    </div>
        <br>
                    <% if devise_mapping.rememberable? -%>
                      <div class="field">
                        <%= f.check_box :remember_me %>&nbsp;
                        <%= f.label :remember_me, :class=>"login-label" %>
                      </div>
                    <% end -%>
        <br>
                    <div class="actions">
                      <%= f.submit "Log in", :class=>"btn-block btn-lg btn-login btn-primary" %>
                    </div>
                  <% end %>

            </div>
          </div>
        </div>

      </div>
  </div>
</div>