<div class="row">
                <%= link_to admin_clients_path do %>
                <div class="col-lg-3 col-md-3 col-sm-12 col-xs-12">
                    <div class="info-box dark-bg">
                        <i class="fa fa-users"></i>
                        <div class="count"><%= Client.where(admin: false).count %></div>
                        <div class="title">Clients</div>                       
                    </div><!--/.info-box-->         
                </div><!--/.col-->
                <% end %>
                
                <%= link_to admin_requests_path do %>
                <div class="col-lg-3 col-md-3 col-sm-12 col-xs-12">
                    <div class="info-box green-bg">
                        <i class="fa fa-folder-open"></i>
                        <div class="count"><%= Request.joins(:client).count %></div>
                        <div class="title">Requests</div>                      
                    </div><!--/.info-box-->         
                </div><!--/.col-->
                <% end %>

                <%= link_to admin_workers_path do %>
                <div class="col-lg-3 col-md-3 col-sm-12 col-xs-12">
                    <div class="info-box purple-bg">
                        <i class="fa fa-user"></i>
                        <div class="count"><%= Worker.count %></div>
                        <div class="title">Total Workers</div>                      
                    </div><!--/.info-box-->         
                </div><!--/.col-->
                <% end %>

                <div class="col-lg-3 col-md-3 col-sm-12 col-xs-12">
                    <div class="info-box blue-bg">
                        <i class="fa fa-user"></i>
                        <div class="count"><%= Worker.where(assigned: true).count %></div>
                        <div class="title">Assigned</div>                      
                    </div><!--/.info-box-->         
                </div><!--/.col-->

                <div class="col-lg-3 col-md-3 col-sm-12 col-xs-12">
                    <div class="info-box yellow-bg">
                        <i class="fa fa-user"></i>
                        <div class="count"><%= Worker.where(assigned: false).count %></div>
                        <div class="title">Available</div>                      
                    </div><!--/.info-box-->         
                </div><!--/.col-->


            </div><!--/.row-->
        