<section id="main-content">
          <section class="wrapper">
      <div class="row">
      </div>
      <div class="col-md-10">
              <div class="row">
                <!-- profile-widget -->
              </div>
              <!-- page start-->
              <div class="row">
                 <div class="col-lg-12">
                    <section class="panel">
                          <div class="panel-body">
                              <div class="tab-content">
                                                                    <!-- profile -->
                                  <div id="profile" class="tab-pane active">
                                    <section class="panel">
                                      <div class="bio-graph-heading">
                                      Hello, <%= current_client.first_name %>, we have assigned <%= @worker.first_name %> <%= @worker.last_name %> to your request. He will be with you shortly. Checkout <%= @worker.first_name %>'s below.
                                      </div>
                                      <div class="panel-body bio-graph-info">
                                          <div class="row">
                                              <div class="bio-row">
                                                  <p><span>First Name: </span><%= @worker.first_name %></p>
                                              </div>
                                              <div class="bio-row">
                                                  <p><span>Education:</span> <%= @worker.education %></p>
                                              </div>
                                              <div class="bio-row">
                                                  <p><span>Last Name: </span> <%= @worker.last_name %></p>
                                              </div>                                              
                                              <div class="bio-row">
                                                  <p><span>Work Experience: </span><%= @worker.experience %></p>
                                              </div>
                                              <div class="bio-row">
                                                  <p><span>Sex:</span>  <%= @worker.sex %></p>
                                              </div>
                                              <div class="bio-row">
                                                  <p><span>Email: </span>hello@springgh.com</p>
                                              </div>
                                              <div class="bio-row">
                                                  <p><span>Age:</span><%= @worker.age %></p>
                                              </div>
                                              <div class="bio-row">
                                                  <p><span>Phone: </span>020-061-0307</p>
                                              </div>
                                              <div class="bio-row">
                                                  <p><span>Remarks: </span> very hardworking</p>
                                              </div>
                                          </div>
                                      </div>
                                    </section>
                                      <section>
                                          <div class="row">                                              
                                          </div>
                                      </section>
                                  </div>
                              </div>
                          </div>
                      </section>
                 </div>
              </div>
              </div>

              <!-- page end-->
          </section>
      </section>

      <div class="col-md-3 col-sm-12 col-xs-12 text-center">
        <%= render "reviews/form" %>
      </div>




