<div class="container-fluid">            
  <div class="row">
    <div class="col-md-6 col-md-offset-3">
              
         <div class="panel panel-info">
            <div class="panel-heading">
              <h2 class="panel-title text-center" style="color:#fff;">Assigned Cleaner</h2>
            </div>
              <div class="panel-body">
              <div class="col-md-3 col-lg-3 " align="center"><%= link_to (image_tag @worker.photo_url(:thumb)), @worker.photo.url, class: "img-circle img-responsive" %></div>
              <div id="profile" class="tab-pane active">

                <section class="panel">
                  <div style="color:#122772;">
                  Hello <%= current_client.first_name %>,<br> <strong><%= @worker.first_name %> <%= @worker.last_name %></strong> has been assigned to your request and will arrive at your location shortly. <br> Here is <%= @worker.first_name %>'s bio below:
                  </div>
                  <!-- </div> -->
                  <div class="panel-body bio-graph-info">
                      <div class="row">
                          <div class="bio-row">
                              <p><span><b>First Name:</b> </span><%= @worker.first_name %></p>
                          </div>
                          <div class="bio-row">
                              <p><span><b>Education:</b></span> <%= @worker.education %></p>
                          </div>
                          <div class="bio-row">
                              <p><span><b>Last Name:</b> </span> <%= @worker.last_name %></p>
                          </div>                                              
                          <div class="bio-row">
                              <p><span><b>Work Experience:</b> </span><%= @worker.experience %></p>
                          </div>
                          <div class="bio-row">
                              <p><span><b>Sex:</b></span>  <%= @worker.sex %></p>
                          </div>
                          <div class="bio-row">
                              <p><span><b>Email:</b></span>hello@springgh.com</p>
                          </div>
                          <div class="bio-row">
                              <p><span><b>Age:</b></span><%= @worker.age %></p>
                          </div>
                          <div class="bio-row">
                              <p><span><b>Phone:</b></span>020-061-0307</p>
                          </div>
                          <div class="bio-row">
                              <p><span><b>Remarks:</b> </span> very hardworking</p>
                          </div>
                          <div class="bio-row">
                              <p><span><b>Ratings:</b></span><div class="star-rating" data-score= <%= @average_rating %>></div></p>
                          </div>
                          <div class="report-button pull-right">
                            <%= link_to fa_icon("flag") + " Report This Cleaner", new_worker_report_path(@worker), class: "btn btn-danger" %>
                          </div>
                      </div>
                  </div>
                </section>
              </div>
              </div>
          </div>

          <section class="panel"  style="border: solid 1px #122772;">
            <div class="panel-body">
                  <%= render "reviews/form" %>
            </div>
          </section>
                
     </div>
  </div>
 </div>
</div>



<script>
  $('.star-rating').raty({
    path: '/assets/', 
    readOnly: true,
    score: function() {
      return $(this).attr('data-score');
    }
  });
</script> 