 <div class="admin-page">
  <div class="container-fluid">
    <div class="row">
      <div class="col-sm-9 col-sm-offset-1 form-box">  


       <div class="row">

        <div class="col-lg-12 col-md-12">  
          <div class="panel panel-default">
            <div class="panel-heading">
              <h2><i class="fa fa-user"></i><strong><%= pluralize(Request.joins(:client).count, "Request") %>---------------------------------------<%= pluralize(Request.joins(:client).where(resolved: true).count, "Resolved Requests") %>---------------------------------------<%= pluralize(Request.joins(:client).where(resolved: false).count, "Unresolved Requests") %></strong></h2>
            </div>
            <div class="panel-body">
              <table class="table bootstrap-datatable countries">
                <thead>
                  <tr>
                    <th></th>
                    <th>Request ID</th>
                    <th>Owner</th>
                    <th>Created At</th>
                    <th>Status</th>
                  </tr>
                </thead>  

                <% if @all_requests.empty? %>
                <h1>No Requests</h1>
                <% end %>

                <% @clients.each do |client| %>
                <% if client.requests.any? %>
                <% client.requests.each do |c_request| %>
                <% if c_request.resolved == true %>
                <tbody>
                  <h2><tr>
                    <td></td>
                    <td><%= link_to c_request.id, admin_client_request_path(client, c_request) %></td>
                    <td><%= link_to c_request.client.first_name, admin_client_path(client) %></td>
                    <td><%= c_request.created_at %></td>
                    <td><%= link_to fa_icon("check-circle") + " resolved",admin_client_request_path(client, c_request), class: "btn btn-success" %></td>
                  </tr></h2>

                </tbody>
                <% else %>
                <tbody>
                  <tr>
                    <td></td>
                    <td><%= link_to c_request.id, admin_client_request_path(client, c_request) %></td>
                    <td><%= link_to c_request.client.first_name, admin_client_path(client) %></td>
                    <td><%= c_request.created_at %></td>
                    <td><%= link_to link_to fa_icon("minus-circle") + " unresolved",admin_client_request_path(client, c_request), class: "btn btn-warning" %></td>
                  </tr>

                </tbody>
                <% end %>     
                <% end %>
                <% end %>
                <% end %>
              </table>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
</div>