<div class="admin-page">
  <div class="container">
    <div class="row">
      <div class="col-sm-9 col-sm-offset-1 form-box">  

        <h1>This is the admin's page. For authorized individuals ONLY!</h1>
        <h2>Welcome to Workforce.</h2>

        <h1><%= pluralize(@all_requests.count, "request") %></h1>

        <h3>Below are <%= pluralize(@requests.count, "request") %> pending processing.</h3>

        <% if @requests.any? %>

        <% @requests.each do |request| %>
          <div class="row">
            <div class="col-md-3">
              <h4><%= request.name %></h4>
            </div>
            <div class="col-md-3">
              <p><%= request.job_description %></p>
            </div>
            <div class="col-md-3">
              <p>request created at <%= request.created_at %></p>
            </div>
            <div class="col-md-3">
            <%= link_to "Click here to assign a worker to this request", admin_request_path(request) %>
            </div>
          </div>

        <% end %>

        <% else %>
        <h2>No more pending requests!</h2>
        <% end %>
      <br>

  <% if @resolved_requests.any? %>

  <h1>Resolved Requests</h1>
  <h2><%= pluralize(@resolved_requests.count, "request") %> resolved. </h2>
  <% @resolved_requests.each do |request| %>
  <div class="row">
    <div class="col-md-3">
      <h4><%= request.name %></h4> 
    </div>
    <div class="col-md-3">
      <p><%= request.job_description %></p>
    </div>
    <div class="col-md-3">
      <p>request created at <%= request.created_at %></p>
    </div>
    <div class="col-md-3">
      <%= link_to "View", admin_request_path(request) %> | <%= link_to "unresolve", [:unresolve, 
        :admin, request], method: :patch, data: { confirm: "Are you making it unresolved?" } %>
    </div>
  </div>
  <% end %>

  <% else %>
    <h1>No request resolved yet!</h1>
  <% end %>

</div>
</div>
</div>
</div>