<div class="admin-page">
  <div class="container">
    <div class="row">
      <div class="col-sm-9 col-sm-offset-1 form-box">  

<h1><%= @request.client.fullname %>'s request(No <%= @request.id %>).</h1>
<!-- <h3><#%= @request.name %></h3> -->
<div class="table-responsive">
  <table class="table table-bordered">
        <thead>
            <tr>
                <th>
                  House details
                </th>
                <th>
                  Extra Services
                </th>
                <th>
                  Selected Days
                </th>
                <th>
                  Frequency
                </th>
                <th>
                  Cleaning products
                </th>
                <th>
                    Date
                </th>
                <th>
                    Time
                </th>
            <tr>
        </thead>
        <tbody>
            <tr>
               <td>
                 <%= pluralize(@request.bedrooms, "bedroom") %>, 
                 <%= pluralize(@request.bathrooms, "bathroom") %>, 
                 <%= pluralize(@request.kitchens, "kitchen") %>, 
                 <%= pluralize(@request.hall, "living room") %>
               </td> 
               <td>
                 <% @request.extra_services.each do |services| %>
                   <% if services == 8 %>
                   <p>Compound Cleaning</p>
                   <% end %>

                   <% if services == 7 %>
                   <p>Washing & Ironing</p>
                   <% end %>

                   <% if services == 3 %>
                   <p>Fridge</p>
                   <% end %>

                   <% if services == 5 %>
                   <p>Storeroom</p>
                   <% end %>
                 <% end %>
               </td>
               <td>
                 <% @request.weekdays.each do |day| %>
                   <p><%= day %></p>
                 <% end %>
               </td> 
               <td>
                 <%= @request.days %> times <%= @request.frequency %>
               </td>  
               <td>
                 <p><%= @request.provide %></p>
               </td>
                <td>
                    <p><%= @request.date_time.strftime("%B %d, %Y") %></p>
                </td>
                <td>
                    <p><%= @request.date_time.strftime("%T") %></p>
                </td>
            </tr>
        </tbody>
  </table>         


<%=  link_to fa_icon("pencil") + "Edit", [:edit, :admin, @request], class: "btn btn-primary" %> 
<%= link_to fa_icon("ban") + "Cancel Request", [:admin, @request], method: :delete, 
			data: { confirm: "Are you sure you want delete #{@request.id}'s details?" }, class: "btn btn-danger" %>         
<br>

<h2>Assign a worker(s)</h2>
<% if @workers.any? %>

<% @workers.each do |worker| %>

<% if worker.requests.any? %>
  <h3><%= worker.first_name %>, <%= worker.last_name %> <%= link_to fa_icon("eye") + "View", admin_worker_path(worker), class: "btn btn-primary" %> <%= link_to fa_icon("minus-circle") +
   "unassigned", admin_unassign_path(worker, request_id: @request.id), request_id: @request.id, method: :delete,  
     data: { confirm: "Are you sure you want unassign Request No.#{@request.id}?"}, class: "btn btn-warning" %>  </h3>
<% else %>
  <h3><%= worker.first_name %>, <%= worker.last_name %> <%= link_to fa_icon("eye") + "View", admin_worker_path(worker), class: "btn btn-primary" %> <%= link_to "Assign", admin_assign_path(@request, worker_id: worker.id), worker_id: worker.id, 
      data: {confirm: "Are you sure you want to assign #{worker.first_name} to #{(@request.id)}?"}, class: "btn btn-success"  %></h3>
<% end %>

<% end %>

<% else %>

<h2>No workers currently in your database!</h2>

<% end %>

</div>
</div>
</div>
</div>