
<div class="row">
  <div class="col-lg-12">
    <section class="panel">
      <header class="panel-heading">
       <h3><%= @request.client.fullname %>'s request(No. <%= @request.id %>).</h3>
     </header>

     <table class="table table-striped table-advance table-hover table-bordered">
       <tbody>
        <tr>
         <th><i class="fa fa-home"></i> House Detail</th>
         <th><i class="fa fa-plus"></i> Extra Services</th>
         <th><i class="fa fa-calendar"></i> Selected Days</th>
         <th><i class="fa fa-sort-numeric-asc"></i> Frequency</th>
         <th><i class="fa fa-calendar"></i> Date</th>
         <th><i class="fa fa-calendar"></i> Time</th>
       </tr>
       <tr>
         <td>
           <p><%= pluralize(@request.bedrooms, "bedroom") %>,</p>
           <p><%= pluralize(@request.bathrooms, "bathroom") %>,</p>
           <p><%= pluralize(@request.kitchens, "kitchen") %>,</p>
           <p><%= pluralize(@request.hall, "living room") %></p>
         </td> 
         <td>
           <% @request.extra_services.each do |services| %>
           <% if services == 15 %>
             <p>Compound Cleaning</p>
             <% end %>

             <% if services == 11 %>
             <p>Fridge</p>
             <% end %>

             <% if services == 10 %>
             <p>Storeroom</p>
             <% end %>
           <% end %>
         </td>
         <td>
           <% @request.weekdays.each do |day| %>
           <p><%= day %></p>
           <% end %>
         </td> 
         <td>
            <%= @request.frequency %>
         </td>  
         <td>
          <p><%= @request.date_time.strftime("%B %d, %Y") %></p>
        </td>
        <td>
          <p><%= @request.date_time.strftime("%T") %></p>
        </td>
      </tr>

    </tbody>
  </table>
</section>
</div>
</div>


<%=  link_to fa_icon("pencil") + "Edit Request", [:edit, :admin, @client, @request], class: "btn btn-info" %> 
<%= link_to fa_icon("ban") + "Cancel Request", [:admin, @client, @request], method: :delete, 
data: { confirm: "Are you sure you want delete #{@request.id}'s details?" }, class: "btn btn-danger" %>         
<br>





<h2>Assign a worker(s)</h2>
<% if @workers.any? %>

<div class="row">

  <div class="col-lg-12 col-md-12">  
    <div class="panel panel-default">
      <div class="panel-heading">
      <h2><i class="fa fa-user"></i><strong>Workers</strong></h2>
      </div>
      <div class="panel-body">
        <table class="table bootstrap-datatable countries">
          <thead>
            <tr>
              <th>First Name</th>
              <th>Last Name</th>
              <th>Phone Number</th>
              <th>Location</th>
              <th>status</th>
              <th></th>
              <th></th>
            </tr>
          </thead> 

          <% @workers.each do |worker| %>

          <% if worker.requests.any? %>
          <tbody>
            <tr>
              <td><%= worker.first_name %></td>
              <td><%= worker.last_name %></td>
              <td><%= worker.phone_number %></td>
              <td><%= worker.location %></td>
              <td><span class="label label-danger"><strong>assigned to <%= worker.requests.first.client.fullname %></strong></span></td>
              <td></td>
              <td><%#= link_to fa_icon("user-times") +
               " unassign", admin_unassign_path(worker, request_id: @request.id), request_id: @request.id, method: :delete,  
               data: { confirm: "Are you sure you want unassign Request No.#{@request.id}?"}, class: "btn btn-warning" %></td>
             </tr>

             




 <% else %>

 <tr>
  <td><%= worker.first_name %></td>
  <td><%= worker.last_name %></td>
  <td><%= worker.phone_number %></td>
  <td><%= worker.location %></td>
  <td><strong><span class="label label-success">available</span></strong></td>
  <td></td>
  <td><%= link_to fa_icon("user-plus") + " Assign", admin_assign_path(@request, worker_id: worker.id), worker_id: worker.id, 
    data: {confirm: "Are you sure you want to assign #{worker.first_name} to #{(@request.id)}?"}, class: "btn btn-primary"  %></td>
  </tr>
</tbody>
 <% end %>

 <% end %>

 <% else %>

 <h2>No workers currently in your database!</h2>

</table>
</div>
</div>
</div>
</div>

<% end %>

</div>
</div>
</div>
</div>