<div class="admin-page">
  <div class="container">
    <div class="row">
      <div class="col-sm-9 col-sm-offset-1 form-box">  

<h1>Assign worker(s) to this request.</h1>
<!-- <h3><#%= @request.name %></h3> -->
<div class="table-responsive">
  <table class="table table-bordered">
        <thead>
            <tr>
                <th>
                  House details
                </th>
                <th>
                  Extra Services
                </th>
                <th>
                  Selected Days
                </th>
                <th>
                  Frequency
                </th>
                <th>
                  Cleaning products
                </th>
                <th>
                    Date
                </th>
                <th>
                    Time
                </th>
            <tr>
        </thead>
        <tbody>
            <tr>
               <td>
                 <%= pluralize(@request.bedrooms, "bedroom") %>, 
                 <%= pluralize(@request.bathrooms, "bathroom") %>, 
                 <%= pluralize(@request.kitchens, "kitchen") %>, 
                 <%= pluralize(@request.hall, "living room") %>
               </td> 
               <td>
                 <% @request.extra_services.each do |services| %>
                   <p><%= services %></p>
                 <% end %>
               </td>
               <td>
                 <% @request.weekdays.each do |day| %>
                   <p><%= day %></p>
                 <% end %>
               </td> 
               <td>
                 <%= @request.days %> times <%= @request.frequency %>
               </td>  
               <td>
                 <p><%= @request.provide %></p>
               </td>
                <td>
                    <p><%= @request.date_time.strftime("%B %d, %Y") %></p>
                </td>
                <td>
                    <p><%= @request.date_time.strftime("%T") %></p>
                </td>
            </tr>
        </tbody>
  </table>         


<%=  link_to "Edit", [:edit, :admin, @request] %> | 
<%= link_to "Cancel Request", [:admin, @request], method: :delete, 
			data: { confirm: "Are you sure want delete #{(@request.id)}'s details?" } %> 
<!--<#%= link_to "click to resolve", [:resolve, :admin, @request], method: :patch, data: {confirm: "Please make sure this request is resolved?"} %>--><br>


<% if @workers.any? %>

<% @workers.each do |worker| %>

<% if worker.requests.any? %>
  <h2><%= worker.first_name %> | <%= link_to "View", admin_worker_path(worker) %></h2>
<% else %>
  <h2><%= worker.first_name %> | <%= link_to "View", admin_worker_path(worker) %>| <%= link_to "Assign", admin_assign_path(@request, worker_id: worker.id), worker_id: worker.id, 
      data: {confirm: "Are you sure you want to assign #{worker.first_name} to #{(@request.id)}?"}  %></h2>
<% end %>

<% end %>

<% else %>

<h2>No workers currently available!</h2>

<% end %>

</div>
</div>
</div>
</div>