<div class="admin-page">
  <div class="container">
    <div class="row">
      <div class="col-sm-9 col-sm-offset-1 form-box">  

<h1>Assign worker(s) to this request.</h1>
<!-- <h3><#%= @request.name %></h3> -->
<h4>Job Description</h4>
<p><%= @request.job_description %></p>

<h4>Phone Number</h4>
<p><%= @request.phone_number %></p>

<h4>Address</h4>
<p><%= @request.location %></p>

<h4>Date</h4>
<p><%= @request.date_time.strftime("%B %d, %Y") %></p>

<h4>Time</h4>
<p><%= @request.date_time.strftime("%T") %></p>


<%=  link_to "Edit", [:edit, :admin, @request] %> | 
<%= link_to "Cancel Request", [:admin, @request], method: :delete, 
			data: { confirm: "Are you sure want delete #{truncate(@request.job_description)}'s details?" } %> 
<!--<#%= link_to "click to resolve", [:resolve, :admin, @request], method: :patch, data: {confirm: "Please make sure this request is resolved?"} %>--><br>


<% if @workers.any? %>

<% @workers.each do |worker| %>

<% if worker.requests.any? %>
  <h2><%= worker.first_name %> | <%= link_to "View", admin_worker_path(worker) %></h2>
<% else %>
  <h2><%= worker.first_name %> | <%= link_to "View", admin_worker_path(worker) %>| <%= link_to "Assign", admin_assign_path(@request, worker_id: worker.id), worker_id: worker.id, 
      data: {confirm: "Are you sure you want to assign #{worker.first_name} to #{truncate(@request.job_description)}?"}  %></h2>
<% end %>

<% end %>

<% else %>

<h2>No workers currently available!</h2>

<% end %>

</div>
</div>
</div>
</div>