<h3><%= @request.name %></h3>
<h4>Job Description</h4>
<p><%= @request.job_description %></p>

<h4>Phone Number</h4>
<p><%= @request.phone_number %></p>

<h4>Address</h4>
<p><%= @request.location %></p>

<h4>Date</h4>
<p><%= @request.date_time.strftime("%B %d, %Y") %></p>

<h4>Time</h4>
<p><%= @request.date_time.strftime("%T") %></p>

<h4>Start and End Time</h4>
<p>start time: <%= @request.start_time %></p>
<p>end time: <%= @request.endtime %></p>

<%=  link_to "Edit", [:edit, :admin, @request] %> | 
<%= link_to "Delete", [:admin, @request], method: :delete, 
			data: { confirm: "Are you sure want delete #{@request.name}'s details?" } %> |
<%= link_to "resolve", [:resolve, :admin, @request], method: :patch, data: {confirm: "Please make sure this request is resolved?"} %>