<!DOCTYPE html>
<html>
<head>
  <title>Workforce</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<% if current_client %>
  <%= link_to "Log Out", destroy_client_session_path, method: :delete,
  			data: {confirm: "#{current_client.email}, are you sure you want to log out?"} %>
<% else %>
  <%= link_to "Log In", new_client_session_path %> 
<% end %>

<% admins_only do %>
  <%= link_to "Admin", admin_root_path %>
<% end %>


 <p class="notice"><%= notice %></p>
 <p class="alert"><%= alert %></p>
   <%= yield %>

</body>
</html>
