<!DOCTYPE html>
<html>
<head>
  <title>Spring</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <%= stylesheet_link_tag 'nav', media: 'all', 'data-turbolinks-track' => true %>  
  <%= javascript_include_tag 'nav', 'data-turbolinks-track' => true %>
  <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <!-- nav styling -->


  <%= csrf_meta_tags %>
  <meta name="google-site-verification" content="ekk5nq_UoqHnmI-X2AO7JNLZsgclWEvyO1Y5OTweFQ4" />
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
  <!--  <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/raty/2.7.0/jquery.raty.min.js"></script> -->
  <script type="text/javascript" src="app/assets/javascripts/jquery.raty.min.js"></script>

  </head>

<body>

         <header id="header" class="alt" style="background:#fff;box-shadow:-1px 2px 3px 0px rgba(46,56,66,.21);">

            <!-- <h1><%#= link_to "Spring", root_path %></h1> -->
            <a href="/" class="spring-brand">
              <%= image_tag("spring-logo-mini.png", :alt => "spring logo", :class => "img-responsive") %>
            </a>

            <nav id="nav">

              <ul style="display:inline-flex;">
                <% if current_client %>
                    <li class="special visible-lg">
                        <%= link_to current_client.first_name, edit_client_registration_path %>
                    </li>
                    <li class="special visible-lg">
                        <%= link_to "Requests", my_requests_path %>
                    </li>
                    <li class="special visible-lg">
                      <%= link_to "Log Out", destroy_client_session_path, method: :delete,
                                data: {confirm: "#{current_client.email}, are you sure you want to log out?"} %>
                    </li> 
                <% else %>
                    <li class="special visible-lg">
                      <%= link_to "Log In", new_client_session_path %>
                    </li>
                <% end %>


                <li class="special">
                  <a href="#menu" class="menuToggle visible-xs"><span>Menu</span></a>
                  <div id="menu">
                    <ul>
                    <% if current_client %>
                      <li class="special">
                          <%= link_to current_client.first_name, edit_client_registration_path %>
                      </li>
                      <li class="special">
                          <%= link_to "Requests", my_requests_path %>
                      </li>
                    <!--   <li class="special">
                        <%#= link_to "Log Out", destroy_client_session_path, method: :delete,
                                  data: {confirm: "#{current_client.email}, are you sure you want to log out?"} %>
                      </li>  -->
                      <li>
                      <%= link_to "Book a Cleaning", new_request_path, :style=>'color: #ffd207;' %>
                    </li>
                    <% else %>
                    <!--     <li class="special">
                          <a href="#one">About</a>
                        </li>
                        <li class="special">
                          <a href="#two">Services</a>
                        </li>
                        <li class="special">
                          <a href="#cta">Contact</a>
                        </li> -->
                       <li><%= link_to "FAQ", q_and_a_path %></li>

                        <li class="special">
                          <%= link_to "Log In", new_client_session_path %>
                        </li>
                        <li class="special">
                          <%= link_to "Sign Up", new_client_registration_path %>
                        </li>
                    <% end %>

                    </ul>
                  </div>
                </li>
              </ul>
            </nav> 


          </header>


 <% flash.each do |key, message| %>
    <p style="position:absolute; z-index:10000; margin:0 auto;left:0; right:0; width:40%; background:#EFF1F3; color:#4C5454; border:solid 1px #4C5454;" class="well well-sm text-center" id="flashmessage">
      <%= message %>
    </p>
 <% end %>

 <style>
 #region{
  padding-top: 40px;
 }
 </style>
 <div id="region" style="min-height:100%;">
   <%= yield %>
 </div>

<script>

setTimeout(fade_out, 5000);

function fade_out() {
 $("#flashmessage").fadeOut().empty();
}

</script>
</body>
</html>
