<!DOCTYPE html>
<html>
<head>
  <title>Spring</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <meta name="google-site-verification" content="ekk5nq_UoqHnmI-X2AO7JNLZsgclWEvyO1Y5OTweFQ4" />
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">

  </head>

<body class="landing">
    <header id="header" class="alt">
     <nav id="nav">
              <ul>
                <li class="special">
                  <a href="#menu" class="menuToggle"><span>Menu</span></a>
                  <div id="menu">
                    <ul>
                      <li><%= link_to "Home", root_path %></li>
                      <li><a href="#one">About</a></li>
                      <li><a href="#two">Services</a></li>
                      <li><a href="#cta">Contact</a></li>
                      <li><%= link_to "FAQ", q_and_a_path %></li>

                      <% if current_client %>
                      <!-- <li><%#= link_to "Log Out", destroy_client_session_path, method: :delete,
                              data: {confirm: "#{current_client.email}, are you sure you want to log out?"} %></li> -->
                      <% else %>
                      <li><%= link_to "Log In", new_client_session_path %></li>
                      <% end %>
                    </ul>
                  </div>
                </li>
              </ul>
            </nav>
      </header>

 <% flash.each do |key, message| %>
  <p style="position:absolute; z-index:10000; margin:0 auto;left:0; right:0; width:40%;" class="well well-sm text-center" id="flashmessage"><%= message %></p>
 <% end %>
 <style>
 #region{
  padding-top: 50px;
 }
 </style>
 <div id="region" style="min-height:100%;">
   <%= yield %>
 </div>
 <script>
setTimeout(fade_out, 5000);

function fade_out() {
  $("#flashmessage").fadeOut().empty();
}

 </script>
</body>
</html>
