<!DOCTYPE html>
<html>
<head>
  <title>Workforce</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body onload="placeValue()">
<nav id="navigation" class="navbar navbar-inverse navbar-fixed-top" role="navigation">
        <div class="container">
            <div class="navbar-header page-scroll">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-rj-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                
                <%= link_to "Workforce", root_path ,:class =>"navbar-brand"%>
            </div>
            <!-- //.navbar-header -->
            
            <div class="navbar-collapse collapse navbar-rj-collapse">
                <ul class="nav navbar-nav navbar-right">
                    <li class="page-scroll">
                        <% if current_client && current_client.admin == false %>
                          <%= link_to "Requests", my_requests_path, :class=>'btn' %>
                        <% end %>
                    </li>

                    
                      <% admins_only do %>
                    <li class="page-scroll">
                        <%= link_to "Admin", admin_root_path %>
                    </li>
                    <li class="page-scroll">
                        <%= link_to "Worker Registration", new_admin_worker_path %>
                    </li>
                    <li class="page-scroll">
                        <%= link_to "Workers", admin_workers_path %>
                    </li>
                      <% end %>
                    <li class="page-scroll">
                        <% if current_client %>
                      
                        <%= link_to current_client.fullname, edit_client_registration_path %>


                      <li class="page-scroll">          
                          
                          <%= link_to "Log Out", destroy_client_session_path, method: :delete,
                                data: {confirm: "#{current_client.email}, are you sure you want to log out?"} %>
                      </li>        
                          <% else %>
                            <%= link_to "About" %>
                          <li class="page-scroll">  
                            <%= link_to "Log In", new_client_session_path %>
                          </li> 
                        <% end %>
                    </li>
                </ul>
            </div>
            <!-- //.navbar-collapse -->
        </div>
        <!-- //.container -->
    </nav>
 <% flash.each do |key, message| %>
  <p><%= message %></p>
 <% end %>
   <%= yield %>

</body>
</html>
