<!DOCTYPE html>
<html>
<head>
   <title>Spring - Your On-Demand Cleaning Service in Ghana</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="google-site-verification" content="ekk5nq_UoqHnmI-X2AO7JNLZsgclWEvyO1Y5OTweFQ4" />
  <meta name="description" content="Book a cleaning on Spring for RELIABLE cleaning services to your household."/>
  <%= stylesheet_link_tag 'nav', media: 'all', 'data-turbolinks-track' => true %>  
  <%= javascript_include_tag 'nav', 'data-turbolinks-track' => true %>
  <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <!-- nav styling -->
  <%= csrf_meta_tags %>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
  <!--  <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/raty/2.7.0/jquery.raty.min.js"></script> -->
  <script type="text/javascript" src="app/assets/javascripts/jquery.raty.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>

  <% if Rails.env == "production" %>
    <script>
        (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
        (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
        m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
        })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

        ga('create', 'UA-75758741-1', 'auto');
        ga('send', 'pageview');
    </script>
  <% end %>

  </head>

<body>

         <header id="header" class="alt" style="background:#fff;box-shadow:-1px 2px 3px 0px rgba(46,56,66,.21);">

            <!-- <h1><%#= link_to "Spring", root_path %></h1> -->

            
              <a href="/" class="spring-brand">
                <%= image_tag("spring2-logo-final.png", :alt => "spring logo", :class => "img-responsive") %>
              </a>
            
            <nav id="nav">

              <ul style="display:inline-flex;">
                <% if current_client %>
                    <li class="special visible-lg">
                      <%= link_to "score board", referrals_path %>
                    </li>
                    <li class="special visible-lg">
                      <%= link_to "Invite Others", new_referral_path %>
                    </li>
                    <li class="special visible-lg">
                        <%= link_to current_client.first_name, edit_client_registration_path %>
                    </li>
                    <li class="special visible-lg">
                        <%= link_to "Requests", my_requests_path %>
                    </li>
                    <li class="special visible-lg">
                      <%= link_to "Log Out", destroy_client_session_path, method: :delete,
                                data: {confirm: "#{current_client.email}, are you sure you want to log out?"} %>
                    </li> 
                <% else %>
                    <li class="special visible-lg">
                      <%= link_to "Log In", new_client_session_path %>
                    </li>
                <% end %>


                <li class="special">
                  <a href="#menu" class="menuToggle visible-xs"><span>Menu</span></a>
                  <div id="menu">
                    <ul>
                    <% if current_client %>
                      <li class="special">
                        <%= link_to "scoreboard", referrals_path %>
                      </li>
                      <li class="special">
                        <%= link_to "Invite Others", new_referral_path %>
                      </li>
                      <li class="special">
                          <%= link_to current_client.first_name, edit_client_registration_path %>
                      </li>
                      <li class="special">
                          <%= link_to "Requests", my_requests_path %>
                      </li>
                    <!--   <li class="special">
                        <%#= link_to "Log Out", destroy_client_session_path, method: :delete,
                                  data: {confirm: "#{current_client.email}, are you sure you want to log out?"} %>
                      </li>  -->
                      <li>
                      <%= link_to "Book a Cleaning", new_request_path, :style=>'color: #ffd207;' %>
                    </li>
                    <% else %>
                    <!--     <li class="special">
                          <a href="#one">About</a>
                        </li>
                        <li class="special">
                          <a href="#two">Services</a>
                        </li>
                        <li class="special">
                          <a href="#cta">Contact</a>
                        </li> -->
                       <li><%= link_to "FAQ", q_and_a_path %></li>

                        <li class="special">
                          <%= link_to "Log In", new_client_session_path %>
                        </li>
                        <li class="special">
                          <%= link_to "Sign Up", new_client_registration_path %>
                        </li>
                    <% end %>

                    </ul>
                  </div>
                </li>
              </ul>
            </nav> 

          </header>


 <% flash.each do |key, message| %>
    <p style="position:absolute; z-index:10000; margin:0 auto;left:0; right:0; width:40%; background:#BDE5F8; color:#00529B; border:solid 1px #00529B; padding:10px;" class="well well-sm text-center" id="flashmessage">
      <%= message %>
    </p>
 <% end %>

 <style>
 #region{
  padding-top: 40px;
 }
 </style>
 <div id="region" style="min-height:100%;">
   <%= yield %>
 </div>

<script>

setTimeout(fade_out, 5000);

function fade_out() {
 $("#flashmessage").fadeOut().empty();
}

</script>
</body>
</html>
