<!DOCTYPE html>
<html>
<head>
  <title>On-Demand Cleaning Service in Ghana - Spring Gh Cleaning Service</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Spring provides trustworthy, quality and reliable cleaning services to households on-demand."/>
    <meta name="keywords" content="house cleaning, cleaning services, Accra, companies in Ghana, cleaning service ghana, cleaning ghana, general cleaning, house cleaning services, house keeping, cleaning companies in ghana, cleaner, househelp, clean life, room cleaning, laundry ghana, clean, training, washing, mopping, home" />

    <meta name="google-site-verification" content="ekk5nq_UoqHnmI-X2AO7JNLZsgclWEvyO1Y5OTweFQ4" /> 
    <%= stylesheet_link_tag 'home', media: 'all', 'data-turbolinks-track' => true %>
    <%= javascript_include_tag 'home', 'data-turbolinks-track' => true %>
    <%= csrf_meta_tags %>
    <%= favicon_link_tag 'favicon.ico' %>

    <% if Rails.env == "production" %>
      <script>
        (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
        (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
        m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
        })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

        ga('create', 'UA-75758741-1', 'auto');
        ga('send', 'pageview');
      </script>
    <% end %>

</head>

<body class="landing">
 <% flash.each do |key, message| %>
  <p style="position:absolute; z-index:100000; margin:0 auto;left:0; right:0; width:40%;background:#BDE5F8; color:#00529B; border:solid 1px #00529B;" class="well well-sm well-primary text-center" id="flashmessage"><%= message %></p>
 <% end %>
   <%= yield %>
<script>
setTimeout(fade_out, 5000);

function fade_out() {
  $("#flashmessage").fadeOut().empty();
}
</script>
