<!DOCTYPE html>
<html>
<head>
  <title>Spring</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">
    <meta name="google-site-verification" content="ekk5nq_UoqHnmI-X2AO7JNLZsgclWEvyO1Y5OTweFQ4" />
  <%= stylesheet_link_tag 'home', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'home', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>

<body class="landing">
 <% flash.each do |key, message| %>
  <p><%= message %></p>
 <% end %>

   <%= yield %>
</body>
</html>
