<!DOCTYPE html>
<html>
<head>
  <title>Spring</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">
    <meta name="google-site-verification" content="ekk5nq_UoqHnmI-X2AO7JNLZsgclWEvyO1Y5OTweFQ4" />
  <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
    
    <!-- Principal styles -->
    <style type="text/css">
      @import url("css/style.css");
    </style>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">

    <!-- Skins styles -->
    <link href="css/skins/default.css" rel="stylesheet" media="screen">

    <!-- Skins Changer-->
    <script type="text/javascript" src="http://www.google.com/jsapi"></script>

  <body>
<style media="screen">
  i {
    padding: 0 20px 0 20x;
  }
</style>
</head>
<body onload="placeValue();" style="background-image:none; background-color: rgba(255,255,255, 0.9);">
 <% flash.each do |key, message| %>
  <p><%= message %></p>
 <% end %>
   <%= yield %>
</body>
</html>
